
@{
    int countTB = 0;
    var tb = ViewData["BellDB"] as Cap24Team3.Models.ThongBao;
}

<style>
    .text {
        display: block; /* or inline-block */
        text-overflow: ellipsis;
        white-space: nowrap;
        word-wrap: break-word;
        overflow: hidden;
        max-height: 4.5em;
        line-height: 1.5em;
    }

    .noti_bubble {
        position: absolute;
        top: 1px;
        right: 8px;
        padding: 2px 3px 2px 3px;
        background-color: red;
        color: white;
        font-weight: bold;
        font-size: 11px;
        border-radius: 30px;
        box-shadow: 1px 1px 1px white;
    }

    .div-centerr {
        margin: auto;
        width: 60%;
        padding: 10px;
    }
</style>
<div class="d-flex flex-wrap align-items-center">
    <div class="nav-link waves-effect dropdown dropbtn1" onclick="dropDownFunc1()" style="width: max-content !important;">
        <div id="dropdownbtn1" class="dropdown-menu1" style="right: 4px; left: auto; height: 300px; border-radius: 10px; background-color: #f2f2f2; width: 400px; overflow: auto;">
            <div class="dropdown-header">
                <h5 class="m-0" style=" font-family: 'Montserrat', bold; color: black; font-size:25px; text-align:center">
                    Thông báo
                </h5>
            </div>
            <br />
            @if (TempData["AlertBell"] != null)
            {
                <br />
                <p class="text" style="text-align: center">@Html.Raw(TempData["AlertBell"].ToString())</p>
            }
            else
            {
                foreach (var item in ViewData["BellDB"] as List<Cap24Team3.Models.ThongBao>)
                {
                    if (item.TrangThai == true)
                    {
                        <a class="dropdown-item div-centerr" href="@Url.Action("XemThongBao", new { idTB = item.ID })" style="font-family: 'Montserrat'; color: black; background-color: #e6e6e6; border-radius: 5px; width: 350px;">
                            <div class="row">
                                <div class="col-2">
                                    <div id="profileImage2"></div>
                                    <span id="firstName2" hidden>@item.NguoiGui</span>
                                </div>
                                <div class="col-6">
                                    <span>@item.TieuDe</span>
                                    
                                    <p class="text" style="text-align: left">@item.NoiDung</p>
                                </div>
                            </div>
                        </a>
                        <hr style="width: 85%" />
                    }
                    else
                    {
                        countTB++;
                        <a class="dropdown-item div-centerr" href="@Url.Action("XemThongBao", new { idTB = item.ID })" style="font-family: 'Montserrat'; color: black; background-color: #ffd966; border-radius: 5px; width: 350px; ">
                            <div class="row">
                                <div class="col-2">
                                    <div id="profileImage3"></div>
                                    <span id="firstName3" hidden>@item.NguoiGui</span>
                                </div>
                                <div class="col-10">
                                    <span>@item.TieuDe</span>

                                    <p class="text" style="text-align: left">@item.NoiDung</p>
                                    <i class="fa fa-eye-slash float-right"></i>
                                </div>
                            </div>
                        </a>
                        <hr style="width: 85%" />
                    }
                }
            }
        </div>
        @if (countTB == 0)
        {
            <div class="dropbtn-bell" onclick="bellDropdown()" style="font-size: 23px; color: black; cursor: pointer">
                <i class="fas fa fa-bell noti-icon text-shadow-title"></i>
            </div>
        }
        else
        {
            <div class="dropbtn-bell" onclick="bellDropdown()" style="font-size: 23px; color: black; cursor: pointer ">
                <i class="fas fa fa-bell noti-icon text-shadow-title"></i>
                <span class="noti_bubble">@countTB</span>
            </div>
        }
    </div>
</div>
<script>
    function dropDownFunc1() {
        document.getElementById("dropdownbtn1").classList.toggle("show");
    }
    window.onclick = function (event) {
        if (!event.target.matches('.dropbtn1')) {
            var dropdowns = document.getElementsByClassName("dropdown-menu1");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        var firstName = $('#firstName2').text();
        var lastName = $('#lastName2').text();
        var intials = $('#firstName2').text().charAt(0) + $('#lastName2').text().charAt(0);
        var profileImage = $('#profileImage2').text(intials);
    });
</script>
<script>
    $(document).ready(function () {
        var firstName = $('#firstName3').text();
        var lastName = $('#lastName3').text();
        var intials = $('#firstName3').text().charAt(0) + $('#lastName3').text().charAt(0);
        var profileImage = $('#profileImage3').text(intials);
    });
</script>
<script>
    $(window).scroll(function () {
        if ($(document).scrollTop() > 100) {
            $('.noti-icon').addClass('bellco-change');
        } else {
            $('.noti-icon').removeClass('bellco-change');
        }
    });
</script>