    @model IEnumerable<Cap24Team3.Models.ThongBao>
@{
    ViewBag.Title = "NhanThongBao";
    Layout = "~/Views/Shared/Student_layout.cshtml";
    var XemThongBao = Session["XemThongBao"] as Cap24Team3.Models.ThongBao;
}


<style>
    .text {
        display: block; /* or inline-block */
        text-overflow: ellipsis;
        white-space: nowrap;
        word-wrap: break-word;
        overflow: hidden;
        max-height: 4.5em;
        line-height: 1.5em;
    }

    .pagination a.current {
        background: #f3f3f3;
    }
</style>
<section class="main-banner demo" id="section10">
    <div class="container-fluid">
        <div class="row align-items-center hero-nav">
            <div class="banner-text wow fadeInLeft text-center hero-nav__inner title-ch" data-wow-duration="1000ms">
                <h2 class="text-shadow" style="font-family: 'Montserrat'; font-size: 6vw; margin-bottom:150px">HỒ SƠ ĐIỆN TỬ ONLINE<span class="text-shadow title-ch" style="font-family: 'FZ2';"> Van Lang E-Profile</span></h2>
                <a href="#" class="scroll-down text-shadow scroll-ch" address="true" style="z-index:1000;cursor:pointer;"><span class="scroll-ch"></span></a>
                @*<a href="#" class="btn btn-danger scroll-down text-center title-ch" address="true" style="z-index:1000">Xem thêm...</a>*@
            </div>
            <br />

            <!--<div class="col-lg-5 col-md-5">
                <div class="banner-img wow zoomIn" data-wow-duration="1000ms">
                    <img src="@Url.Content("~/Student_assets/img/edu7.png")" alt="" style="height: auto; width:100%">
                </div>-->
            <!--banner-img end-->
            <!--<div class="elements-bg wow zoomIn" data-wow-duration="1000ms"></div>
            </div>-->
        </div>
    </div>
</section><!--main-banner end-->
<h2 class="main-title">E-Profile</h2>
<section class="about-us-section">
    <div class="container">
        <div class="section-title text-center">
            <h2 style="font-family: 'Montserrat'; font-size: 3em">Get Knowledge - <span> Up your skills</span></h2>
        </div><!--section-title end-->
        <div class="banner-img wow zoomIn text-center" data-wow-duration="1000ms">
            <img src="@Url.Content("~/Student_assets/img/edu3.png")" alt="" style="height: auto; width:45vw">
        </div><!--banner-img end-->
        <div class="elements-bg wow zoomIn" data-wow-duration="1000ms" hidden></div>
        <div class="section-title text-center ok">
            <h2 style="font-family: 'Montserrat';">Các chức<span> năng chính</span></h2>
        </div><!--section-title end-->
        <div class="about-sec">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="abt-col wow fadeInUp" data-wow-duration="1000ms" style="height: 210px">
                            <img src="@Url.Content("~/Student_assets/img/icon5.png")" alt="">
                            <h3 style="font-family: 'Montserrat'; color: black;">Hỗ trợ cho Giảng viên</h3>
                            <p style="font-family: 'DongLe1'; font-size: 1.5em">- Quan sát và theo dõi được kế hoạch, quá trình học tập của sinh viên lớp chủ nhiệm, để có thể tư vấn cho sinh viên các kế hoạch học tập hợp lý hơn.</p>
                            <p style="font-family: 'DongLe1'; font-size: 1.5em">- Ghi chú lại các sinh viên cần theo dõi để cải thiện kết quả học tập.</p>
                        </div><!--abt-col end-->
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="abt-col wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms" style="height: 210px">
                            <img src="@Url.Content("~/Student_assets/img/icon9.png")" alt="">
                            <h3 style="font-family: 'Montserrat'; color: black;">Công cụ hỗ trợ cần thiết cho sinh viên</h3>
                            <p style="font-family: 'DongLe1'; font-size: 1.5em">- Có thể xem được Chương trình đào tạo của Khóa/Ngành.</p>
                            <p style="font-family: 'DongLe1'; font-size: 1.5em">- Đăng ký và xem Kế hoạch học tập linh hoạt theo học kỳ và các học kỳ đã đăng ký trước đó.</p>
                            <p style="font-family: 'DongLe1'; font-size: 1.5em">- Và theo dõi được quá trình học tập của bản thân.</p>
                        </div><!--abt-col end-->
                    </div>
                </div>
            </div>
        </div><!--about-rw end-->
        <div class="abt-img" style="width: 100%;height: 100%">
            <ul class="masonary">
                <li class="width1 wow zoomIn" data-wow-duration="1000ms"><a href="@Url.Content("~/Student_assets/img/VLU3.png")" data-group="set1" title="" class="html5lightbox"><img src="@Url.Content("~/Student_assets/img/VLU3.png")" alt=""></a></li>
                <li class="width2 wow zoomIn" data-wow-duration="1000ms"><a href="@Url.Content("~/Student_assets/img/VLU4.png")" data-group="set1" title="" class="html5lightbox"><img src="@Url.Content("~/Student_assets/img/VLU4.png")" alt=""></a></li>
                <li class="width3 wow zoomIn" data-wow-duration="1000ms"><a href="@Url.Content("~/Student_assets/img/VLU10.png")" data-group="set1" title="" class="html5lightbox"><img src="@Url.Content("~/Student_assets/img/VLU10.png")" alt=""></a></li>
                <li class="width4 wow zoomIn" data-wow-duration="1000ms"><a href="@Url.Content("~/Student_assets/img/VLU5.png")" data-group="set1" title="" class="html5lightbox"><img src="@Url.Content("~/Student_assets/img/VLU5.png")" alt=""></a></li>
                <li class="width5 wow zoomIn" data-wow-duration="1000ms"><a href="@Url.Content("~/Student_assets/img/VLU6.png")" data-group="set1" title="" class="html5lightbox"><img src="@Url.Content("~/Student_assets/img/VLU6.png")" alt=""></a></li>
                <li class="width6 wow zoomIn" data-wow-duration="1000ms"><a href="@Url.Content("~/Student_assets/img/VLU7.png")" data-group="set1" title="" class="html5lightbox"><img src="@Url.Content("~/Student_assets/img/VLU7.png")" alt=""></a></li>
                <li class="width7 wow zoomIn" data-wow-duration="1000ms"><a href="@Url.Content("~/Student_assets/img/VLU9.png")" data-group="set1" title="" class="html5lightbox"><img src="@Url.Content("~/Student_assets/img/VLU9.png")" alt=""></a></li>
                <li class="width8 wow zoomIn" data-wow-duration="1000ms"><a href="@Url.Content("~/Student_assets/img/VLU8.png")" data-group="set1" title="" class="html5lightbox"><img src="@Url.Content("~/Student_assets/img/VLU8.png")" alt=""></a></li>
                <li class="width9 wow zoomIn" data-wow-duration="1000ms"><a href="@Url.Content("~/Student_assets/img/VLU11.png")" data-group="set1" title="" class="html5lightbox"><img src="@Url.Content("~/Student_assets/img/VLU11.png")" alt=""></a></li>
                <li class="width10 wow zoomIn" data-wow-duration="1000ms"><a href="@Url.Content("~/Student_assets/img/VLU12.png")" data-group="set1" title="" class="html5lightbox"><img src="@Url.Content("~/Student_assets/img/VLU12.png")" alt=""></a></li>
            </ul>
        </div><!-- abt-img end-->
    </div>
</section><!--about-us-section end-->
<script>
    $(window).scroll(function () {
        if ($(document).scrollTop() > 950) {
            $('.title-ch').addClass('title-change');
        } else {
            $('.title-ch').removeClass('title-change');
        }
    });
</script>
<script>
    $(window).scroll(function () {
        if ($(document).scrollTop() > 750) {
            $('.scroll-ch').addClass('scroll-change');
        } else {
            $('.scroll-ch').removeClass('scroll-change');
        }
    });
</script>
<script>
    $(function () {
        $('.scroll-down').click(function (e) {
            e.preventDefault();
            $('html, body').animate({ scrollTop: $('div.ok').offset().top }, 500, 'linear');
            return false;
        });
    });
</script>
<script>
    $(document).ready(function () {
        $(window).scroll(function () {
            var scroll = $(window).scrollTop();

            if (scroll >= 100) {
                $("#masthead").addClass("scrolled");
            } else {
                $("#masthead").removeClass("scrolled");
            }
        });
    });
</script>
<script>
    var heroShinker = function () {
        var hero = $('.hero-nav'),
            heroHeight = $('.hero-nav').outerHeight(true);
        $(hero).parent().css('padding-top', heroHeight);
        $(window).scroll(function () {
            var scrollOffset = $(window).scrollTop();
            if (scrollOffset < heroHeight) {
                $(hero).css('height', (heroHeight - scrollOffset));
            }
            if (scrollOffset > (heroHeight - 215)) {
                hero.addClass('fixme');
            } else {
                hero.removeClass('fixme');
            };
        });
    }
    heroShinker();
</script>
@*<div class="mdp-pagiation">
        <nav aria-label="Page navigation example">
            <div id="listingTable"></div>
            <ul class="pagination" id="demo">
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link active" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">...</a></li>
                <li class="page-item"><a class="page-link" href="#">15</a></li>
            </ul>
        </nav>
    </div>*@

@*<script>
        (function ($) {
            var pagify = {
                items: {},
                container: null,
                totalPages: 1,
                perPage: 3,
                currentPage: 0,
                createNavigation: function () {
                    this.totalPages = Math.ceil(this.items.length / this.perPage);

                    $('.pagination', this.container.parent()).remove();
                    var pagination = $('<ul class="pagination float-right"></ul>').append('<li class="page-item"><a class="page-link nav prev disabled" style="color: black;cursor: context-menu;" data-next="false"><</a></li>');

                    for (var i = 0; i < this.totalPages; i++) {
                        var pageElClass = "page";
                        if (!i)
                            pageElClass = "page current";
                        var pageEl = '<li class="page-item"><a class="page-link ' + pageElClass + '" data-page="' + (
                            i + 1) + '" style="color: #ff3333;cursor: context-menu;">' + (
                                i + 1) + "</a></li>";
                        pagination.append(pageEl);
                    }
                    pagination.append('<li class="page-item"><a class="page-link nav next" style="color: black;cursor: context-menu;" data-next="true">></a></li>');

                    this.container.after(pagination);

                    var that = this;
                    $("body").off("click", ".nav");
                    this.navigator = $("body").on("click", ".nav", function () {
                        var el = $(this);
                        that.navigate(el.data("next"));
                    });

                    $("body").off("click", ".page");
                    this.pageNavigator = $("body").on("click", ".page", function () {
                        var el = $(this);
                        that.goToPage(el.data("page"));
                    });
                },
                navigate: function (next) {
                    // default perPage to 5
                    if (isNaN(next) || next === undefined) {
                        next = true;
                    }
                    $(".pagination .nav").removeClass("disabled");
                    if (next) {
                        this.currentPage++;
                        if (this.currentPage > (this.totalPages - 1))
                            this.currentPage = (this.totalPages - 1);
                        if (this.currentPage == (this.totalPages - 1))
                            $(".pagination .nav.next").addClass("disabled");
                    }
                    else {
                        this.currentPage--;
                        if (this.currentPage < 0)
                            this.currentPage = 0;
                        if (this.currentPage == 0)
                            $(".pagination .nav.prev").addClass("disabled");
                    }

                    this.showItems();
                },
                updateNavigation: function () {

                    var pages = $(".pagination .page");
                    pages.removeClass("current");
                    $('.pagination .page[data-page="' + (
                        this.currentPage + 1) + '"]').addClass("current");
                },
                goToPage: function (page) {

                    this.currentPage = page - 1;

                    $(".pagination .nav").removeClass("disabled");
                    if (this.currentPage == (this.totalPages - 1))
                        $(".pagination .nav.next").addClass("disabled");

                    if (this.currentPage == 0)
                        $(".pagination .nav.prev").addClass("disabled");
                    this.showItems();
                },
                showItems: function () {
                    this.items.hide();
                    var base = this.perPage * this.currentPage;
                    this.items.slice(base, base + this.perPage).show();

                    this.updateNavigation();
                },
                init: function (container, items, perPage) {
                    this.container = container;
                    this.currentPage = 0;
                    this.totalPages = 1;
                    this.perPage = perPage;
                    this.items = items;
                    this.createNavigation();
                    this.showItems();
                }
            };

            // stuff it all into a jQuery method!
            $.fn.pagify = function (perPage, itemSelector) {
                var el = $(this);
                var items = $(itemSelector, el);

                // default perPage to 5
                if (isNaN(perPage) || perPage === undefined) {
                    perPage = 3;
                }

                // don't fire if fewer items than perPage
                if (items.length <= perPage) {
                    return true;
                }

                pagify.init(el, items, perPage);
            };
        })(jQuery);

        $(".container-1").pagify(4, ".item-pagi");

    </script>*@
