@model IEnumerable<Cap24Team3.Models.ThongBao>
@{
    ViewBag.Title = "NhanThongBao";
    Layout = "~/Views/Shared/Student_layout.cshtml";
    var XemThongBao = Session["XemThongBao"] as Cap24Team3.Models.ThongBao;
}


<style>
    .text {
        display: block; /* or inline-block */
        text-overflow: ellipsis;
        white-space: nowrap;
        word-wrap: break-word;
        overflow: hidden;
        max-height: 4.5em;
        line-height: 1.5em;
    }

    .pagination a.current {
        background: #f3f3f3;
    }
</style>
<section class="main-banner">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 col-md-7">
                <div class="banner-text wow fadeInLeft" data-wow-duration="1000ms">
                    <h2>Welcome to<span>Van Lang E-Profile</span></h2>
                    <p>Trang quản lý kế hoạch học tập dành riêng cho khoa CNTT trường đại học Văn Lang</p>
                    <form class="search-form">
                        <input type="text" name="search" placeholder="Search">
                        <button><i class="fa fa-search"></i></button>
                    </form>
                </div>
            </div>
            <div class="col-lg-5 col-md-5">
                <div class="banner-img wow zoomIn" data-wow-duration="1000ms">
                    <marquee>
                        <img src="@Url.Content("~/Student_assets/img/VLU4.png")" alt="">
                    </marquee>
                    <marquee direction="up">
                        <img src="@Url.Content("~/Student_assets/img/VLU5.png")" alt="">
                    </marquee>

                </div><!--banner-img end-->
                <div class="elements-bg wow zoomIn" data-wow-duration="1000ms"></div>
            </div>
        </div>
    </div>
</section><!--main-banner end-->
@*<div class="mdp-pagiation">
            <nav aria-label="Page navigation example">
                <div id="listingTable"></div>
                <ul class="pagination" id="demo">
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link active" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">...</a></li>
                    <li class="page-item"><a class="page-link" href="#">15</a></li>
                </ul>
            </nav>
        </div>*@
<h2 class="main-title">E-Profile</h2>

<section class="about-us-section">
    <div class="container">
        <div class="section-title text-center">
            <h2>Welcome to <span>Van Lang E-Profile</span></h2>
            <p>Trang quản lý kế hoạch học tập dành riêng cho khoa CNTT trường đại học Văn Lang</p>
        </div><!--section-title end-->
    </div>
</section><!--about-us-section end-->
<section class="page-content">
    <div class="container">
        <div class="course-section">
            <div class="courses-list">
                <div class="row container-1" id="">
                    @if (TempData["Alert"] == null)
                    {
                        foreach (var item in Model)
                        {
                            <div class="col-lg-6 item-pagi" onclick="location.href='@Url.Action("XemThongBao", new {idTB = item.ID})'">
                                <div style="cursor: pointer" class="course-card">
                                    <div class="d-flex flex-wrap align-items-center">
                                        <ul class="course-meta">
                                            <li>
                                                @item.NguoiGui
                                            </li>
                                        </ul>
                                        <span><img src="@Url.Content("~/Student_assets/img/icon12.png")" alt=""> @item.Ngay</span>
                                    </div>
                                    <h3><a href="">@item.TieuDe</a></h3>
                                    <div class="d-flex flex-wrap">
                                        <div class="text">
                                            <a title="">@item.NoiDung</a>
                                        </div>
                                    </div>
                                </div><!--course-card end-->
                            </div>
                        }
                    }
                    else
                    {
                        <style>
                            .div-centerr {
                                margin: auto;
                                width: 60%;
                                padding: 10px;
                            }
                        </style>
                        <div class="alert alert-warning col-6 div-centerr" align="center">
                            <i class="fa fa-exclamation-triangle"></i> @Html.Raw(TempData["Alert"].ToString())
                        </div>
                    }
                </div>
            </div><!--courses-list end-->
        </div>

    </div>
</section><!--page-content end-->
<script>
    (function ($) {
        var pagify = {
            items: {},
            container: null,
            totalPages: 1,
            perPage: 3,
            currentPage: 0,
            createNavigation: function () {
                this.totalPages = Math.ceil(this.items.length / this.perPage);

                $('.pagination', this.container.parent()).remove();
                var pagination = $('<ul class="pagination float-right"></ul>').append('<li class="page-item"><a class="page-link nav prev disabled" style="color: black;" data-next="false"><</a></li>');

                for (var i = 0; i < this.totalPages; i++) {
                    var pageElClass = "page";
                    if (!i)
                        pageElClass = "page current";
                    var pageEl = '<li class="page-item"><a class="page-link ' + pageElClass + '" data-page="' + (
                        i + 1) + '" style="color: #ff3333;">' + (
                            i + 1) + "</a></li>";
                    pagination.append(pageEl);
                }
                pagination.append('<li class="page-item"><a class="page-link nav next" style="color: black;" data-next="true">></a></li>');

                this.container.after(pagination);

                var that = this;
                $("body").off("click", ".nav");
                this.navigator = $("body").on("click", ".nav", function () {
                    var el = $(this);
                    that.navigate(el.data("next"));
                });

                $("body").off("click", ".page");
                this.pageNavigator = $("body").on("click", ".page", function () {
                    var el = $(this);
                    that.goToPage(el.data("page"));
                });
            },
            navigate: function (next) {
                // default perPage to 5
                if (isNaN(next) || next === undefined) {
                    next = true;
                }
                $(".pagination .nav").removeClass("disabled");
                if (next) {
                    this.currentPage++;
                    if (this.currentPage > (this.totalPages - 1))
                        this.currentPage = (this.totalPages - 1);
                    if (this.currentPage == (this.totalPages - 1))
                        $(".pagination .nav.next").addClass("disabled");
                }
                else {
                    this.currentPage--;
                    if (this.currentPage < 0)
                        this.currentPage = 0;
                    if (this.currentPage == 0)
                        $(".pagination .nav.prev").addClass("disabled");
                }

                this.showItems();
            },
            updateNavigation: function () {

                var pages = $(".pagination .page");
                pages.removeClass("current");
                $('.pagination .page[data-page="' + (
                    this.currentPage + 1) + '"]').addClass("current");
            },
            goToPage: function (page) {

                this.currentPage = page - 1;

                $(".pagination .nav").removeClass("disabled");
                if (this.currentPage == (this.totalPages - 1))
                    $(".pagination .nav.next").addClass("disabled");

                if (this.currentPage == 0)
                    $(".pagination .nav.prev").addClass("disabled");
                this.showItems();
            },
            showItems: function () {
                this.items.hide();
                var base = this.perPage * this.currentPage;
                this.items.slice(base, base + this.perPage).show();

                this.updateNavigation();
            },
            init: function (container, items, perPage) {
                this.container = container;
                this.currentPage = 0;
                this.totalPages = 1;
                this.perPage = perPage;
                this.items = items;
                this.createNavigation();
                this.showItems();
            }
        };

        // stuff it all into a jQuery method!
        $.fn.pagify = function (perPage, itemSelector) {
            var el = $(this);
            var items = $(itemSelector, el);

            // default perPage to 5
            if (isNaN(perPage) || perPage === undefined) {
                perPage = 3;
            }

            // don't fire if fewer items than perPage
            if (items.length <= perPage) {
                return true;
            }

            pagify.init(el, items, perPage);
        };
    })(jQuery);

    $(".container-1").pagify(4, ".item-pagi");

</script>
