@model Cap24Team3.Models.SinhVien
@{
    ViewBag.Title = "CapNhatThongTin";
    Layout = "~/Views/Shared/Student_layout.cshtml";
}
<section class="pager-section">
    <div class="container">
        <div class="pager-content text-center">
            <h2 style="font-family: 'Montserrat';font-weight: 600; font-size: 80px;">Cập Nhật Thông Tin</h2>
            <ul>
                <li><a href="#" title="">Home</a></li>
                <li><span>Cập Nhật Thông Tin</span></li>
            </ul>
        </div><!--pager-content end-->
        <h2 class="page-titlee">E-Profile</h2>
    </div>
</section><!--pager-section end-->
<hr>
<div class="page-content">
    <div class="content">
        <!-- Start Content-->
        <div class="container">
            <!-- start page title -->
            <!-- end page title -->
            <div class="col-12">
                <form action="@Url.Action("CapNhatThongTin")" method="post">
                    <p style="font-family: 'Montserrat'; color: black; font-size: 25px; font-weight: bold;">Email 2</p>
                    <br>
                    <input type="email" class="form-control" name="mail" value="@Model.Email_2" placeholder="Nhập mail" />
                    <br>
                    <p style="font-family: 'Montserrat'; color: black; font-size: 25px; font-weight: bold;">SĐT</p>
                    <br>
                    <input type="tel" class="form-control"  name="sdt" value="@Model.DTDD" placeholder="Nhập sđt" pattern="[0-9]{}" required />
                    <br>
                    <p style="font-family: 'Montserrat'; color: black; font-size: 25px; font-weight: bold;">SĐT cha</p>
                    <br>
                    <input type="tel" class="form-control"  name="dtcha" value="@Model.DTCha" placeholder="Nhập sđt cha" pattern="[0-9]{}" />
                    <br>
                    <p style="font-family: 'Montserrat'; color: black; font-size: 25px; font-weight: bold;">SĐT mẹ</p>
                    <br>
                    <input type="tel" class="form-control"  name="dtme" value="@Model.DTMe" placeholder="Nhập sđt mẹ" pattern="[0-9]{}" />
                    <br>
                    <p style="font-family: 'Montserrat'; color: black; font-size: 25px; font-weight: bold;">Địa chỉ</p>
                    <br>
                    <input type="text" class="form-control"  name="diachi" value="@Model.DiaChi" placeholder="Nhập địa chỉ" />
                    <br>
                    <input type="submit" class="btn btn-primary" style="font-size: 20px;" value="Cập Nhật" />
                </form>
            </div> <!-- end col -->
        </div>
    </div> <!-- content -->
</div>
<hr>
@*<h2>CapNhatThongTin @Model.Ho @Model.Ten</h2>
    <form action="@Url.Action("CapNhatThongTin")" method="post">
        <p>Mail: </p>
        <input type="email" name="mail" value="@Model.Email_2" />
        <p>Sđt: </p>
        <input type="tel" name="sdt" pattern="[0-9]{}" value="@Model.DTDD" required />
        <p>sđt cha: </p>
        <input type="tel" name="dtcha" pattern="[0-9]{}" value="@Model.DTCha" />
        <p>sđt mẹ: </p>
        <input type="tel" name="dtme" pattern="[0-9]{}" value="@Model.DTMe">
        <p>Địa chỉ: </p>
        <input type="text" name="diachi" value="@Model.DiaChi" />
        <input type="submit" value="Cập nhật" />
    </form>*@

