@using Cap24Team3.Models;
@{
    ViewBag.Title = "Create";

    Layout = "~/Views/Shared/Faculty_Layout.cshtml";
    var Role = ViewBag.Role as AspNetRole;
    var Users = ViewBag.Users as SelectList;
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="row">
            <section class="row">
                <div class="col-2 col-lg-4">
                    <h2>Add to </h2>
                </div>
                <br />
            </section>
            <div class="col-10 d-flex align-items-center">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <h5>
                    User &emsp;
                </h5>

                <div class="col-7 text-right">
                    <div class="input-group">             
                   @*@Html.DropDownList("UserId", Users, new { @class = "form-control" })*@ 
                        @Html.TextBox("UserId", Users, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <br />
            &emsp;
            <div class="container">
                <div class="row">
                    <div class="col-8">
                        <button type="submit" value="Add" class="btn btn-dark">Thêm</button>
                    </div>
                    &emsp;
                    <div class="col-8">
                        <br />
                        <a href="@Url.Action("Index", "AspNetRoleFacultys")">Quay lại</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

