@model IEnumerable<Cap24Team3.Models.ChuongTrinhDaoTao>

@{
    ViewBag.Title = "ListCTDaoTao";
    Layout = "~/Views/Shared/Faculty_Layout.cshtml";
    int STT = 0;
}
<style>
    .modal-open[style] {
        padding-right: 0px !important;
        position: relative !important;
    }
</style>
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="page-title" style="font-family:Roboto">&emsp;CHƯƠNG TRÌNH ĐÀO TẠO</h4>
            <div class="page-title-right">
                <a href="@Url.Content("~/Models/ChuongTrinhDaoTao.xlsx")">
                    <button type="submit" id="button" name="button" value="Export" class="btn btn-success btn-rounded">
                        <i class="mdi mdi-microsoft-excel"></i> Template
                    </button>
                </a>
                <button type="button" id="button" name="button" value="Upload" class="btn btn-success btn-rounded" data-toggle="modal" data-target="#exampleModal" onclick="Clearform()">
                    <i class="mdi mdi-microsoft-excel"></i> Import
                </button>
            </div>
        </div>
    </div>
</div>
<!-- end page title -->
<div class="row">
    <div class="col-xl-12">
        <div class="card-box taskboard-box">
            <ul class="sortable-list list-unstyled taskList" id="upcoming">
                @foreach (var item in Model)
                {
                    <li style="background-color:lightcyan">
                        <div class="kanban-box">
                            <div class="kanban-detail">
                                <h5 class="mt-0" style="font-family: Roboto"><a href="@Url.Action("ChiTietCTDaoTao", new { id = item.ID })" style="color: black">CTĐT Ngành @item.NganhDaoTao.Nganh - Khóa @item.KhoaDaoTao.Khoa</a></h5>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
<hr style="border-color:black" />
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="page-title" style="font-family:Roboto">&emsp;NGÀNH HỌC</h4>
            <div class="page-title-right">
                <button type="button" id="button" name="button" value="Upload" class="btn btn-success btn-rounded" data-toggle="modal" data-target="#TaoMoiNganh">
                    <i class="mdi mdi-database-edit"></i> Tạo mới
                </button>
            </div>
        </div>
    </div>
</div>
<!-- end page title -->
<div class="row">
    <div class="col-xl-12">
        <div class="card-box taskboard-box">
            <ul class="sortable-list list-unstyled taskList" id="upcoming">
                <table class="table table-striped mb-0 dt-responsive" id="table">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Mã ngành</th>
                            <th>Tên ngành</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewData["NganhDaoTao"] as List<Cap24Team3.Models.NganhDaoTao>)
                        {
                            STT++;
                            <tr>
                                <td>@STT</td>
                                <td>@item.MaNganh</td>
                                <td>@item.Nganh</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </ul>
        </div>
    </div>
</div>
<hr style="border-color:black" />
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="page-title" style="font-family:Roboto">&emsp;KHÓA HỌC</h4>
            <div class="page-title-right">
                <button type="button" id="button" name="button" value="Upload" class="btn btn-success btn-rounded" data-toggle="modal" data-target="#TaoMoiKhoa">
                    <i class="mdi mdi-database-edit"></i> Tạo mới
                </button>
            </div>
        </div>
    </div>
</div>
@{ STT = 0;}
<!-- end page title -->
<div class="row">
    <div class="col-xl-12">
        <div class="card-box taskboard-box">
            <ul class="sortable-list list-unstyled taskList" id="upcoming">
                <table class="table table-striped mb-0 dt-responsive" id="table">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Khóa</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewData["KhoaDaoTao"] as List<Cap24Team3.Models.KhoaDaoTao>)
                        {
                            STT++;
                            <tr>
                                <td>@STT</td>
                                <td>@item.Khoa</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </ul>
        </div>
    </div>
</div>
<hr style="border-color:black" />
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="page-title" style="font-family:Roboto">&emsp;HỌC KỲ</h4>
            <div class="page-title-right">
                <button type="button" id="button" name="button" value="Upload" class="btn btn-success btn-rounded" data-toggle="modal" data-target="#TaoMoiHocKy">
                    <i class="mdi mdi-database-edit"></i> Tạo mới
                </button>
            </div>
        </div>
    </div>
</div>
@{ STT = 0;}
<!-- end page title -->
<div class="row">
    <div class="col-xl-12">
        <div class="card-box taskboard-box">
            <ul class="sortable-list list-unstyled taskList" id="upcoming">
                <table class="table table-striped mb-0 dt-responsive" id="table">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Thứ tự</th>
                            <th>Học kỳ</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewData["HocKyDaoTao"] as List<Cap24Team3.Models.HocKyDaoTao>)
                        {
                            STT++;
                            <tr>
                                <td>@STT</td>
                                <td>@item.STT</td>
                                <td>@item.HocKy</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </ul>
        </div>
    </div>
</div>
<div class="modal fade" id="TaoMoiNganh" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <form method="post">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" style="font-family: Roboto">Tạo ngành mới</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <label for="recipient-name" class="col-form-label">Mã ngành:</label>
                        <input class="form-control" type="text" id="MaNganh" name="manganh" value="" placeholder="Nhập mã ngành" required />
                        <br />
                        <label for="recipient-name" class="col-form-label">Tên ngành:</label>
                        <input class="form-control" type="text" id="TenNganh" name="tennganh" value="" placeholder="Nhập tên ngành" required />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-success" formaction="@Url.Action("TaoMoiNganh")">Lưu</button>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal fade" id="TaoMoiKhoa" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <form method="post">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" style="font-family: Roboto">Tạo khóa mới</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <label for="recipient-name" class="col-form-label">Khóa:</label>
                        <input class="form-control" type="text" id="khoa" name="khoa" value="" placeholder="Nhập khóa" required />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-success" formaction="@Url.Action("TaoMoiKhoa")">Lưu</button>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal fade" id="TaoMoiHocKy" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <form method="post">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" style="font-family: Roboto">Tạo học kỳ mới</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <label for="recipient-name" class="col-form-label">Học kỳ:</label>
                        <input class="form-control" type="text" id="hocki" name="hocki" value="" placeholder="Nhập tên học kỳ" required />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-success" formaction="@Url.Action("TaoMoiHocKy")">Lưu</button>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="font-family: Roboto;">Thêm mới chương trình đào tạo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("XemTruocThongKe", "ChuongTrinhDaoTao", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Khóa:</label>
                        <select class="form-control" name="Khoa">
                            @foreach (var khoa in ViewData["KhoaDaoTao"] as List<Cap24Team3.Models.KhoaDaoTao>)
                            {
                                <option value="@khoa.Khoa" selected>Khóa @khoa.Khoa</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Ngành:</label>
                        <select class="form-control" name="Nganh">
                            @foreach (var nganh in ViewData["NganhDaoTao"] as List<Cap24Team3.Models.NganhDaoTao>)
                            {
                                <option value="@nganh.Nganh">Ngành @nganh.Nganh</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Học kỳ bắt đầu:</label>
                        <select class="form-control" name="HocKy">
                            @foreach (var hocky in ViewData["HocKyDaoTao"] as List<Cap24Team3.Models.HocKyDaoTao>)
                            {
                                <option value="@hocky.HocKy">@hocky.HocKy</option>
                            }
                        </select>
                    </div>
                    <div class="file-upload-wrapper">
                        <div class="file-upload-wrapper">
                            <input id="excel_file" type="file" name="UploadedFile" class="dropify" required accept=".xls,.xlsx" onclick="Clearform()" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-secondary" data-dismiss="modal" value="Đóng" />
                        <input type="submit" class="btn btn-success" value="Tải lên" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ModelCheckFile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="font-family: Roboto;">Xem trước chương trình đào tạo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    @Html.Raw(Session["ThongBao"])
                </div>
                <div class="modal-footer">
                    <form action="@Url.Action("TaiLenCTDT")">
                        <input type="button" class="btn btn-secondary" data-dismiss="modal" value="Đóng" />
                        <input type="submit" class="btn btn-success" value="Tải lên" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
@if (Session["ThongBao"] != null)
{
    <script>
        $(document).ready(function () {
            $('#ModelCheckFile').modal('show');
        });
    </script>
    Session["ThongBao"] = null;
}