@model Cap24Team3.Models.KhoaDaoTao

@{
    ViewBag.Title = "EditKhoa";
    Layout = "~/Views/Shared/Faculty_Layout.cshtml";
}

<h2 class="page-title" style="font-family:Roboto" >Chỉnh sửa Khóa @Model.Khoa</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.Label("Khóa", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Khoa, new { htmlAttributes = new { @class = "form-control", @required = true } })
                @Html.ValidationMessageFor(model => model.Khoa, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu" class="btn btn-secondary btn-rounded" />
                <input type="submit" value="Trở về" class="btn btn-secondary btn-rounded" formaction="@Url.Action("ListKhoaDT")" />
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
