@model IEnumerable<Cap24Team3.Models.DotChinhSuaThongTin>

@{
    ViewBag.Title = "ListDotChinhSua";
    Layout = "~/Views/Shared/Student_layout.cshtml";
    int STT = 0;


}
<section class="pager-section">
    <div class="container">
        <div class="pager-content text-center">
            <h2 style="font-family: 'Montserrat';font-weight: 600; font-size: 80px;">Đợt Chỉnh Sửa Thông Tin Sinh Viên</h2>
            <ul>
            </ul>
        </div><!--pager-content end-->
        <h3 class="page-titlee">E-Profile</h3>
    </div>
</section><!--pager-section end-->
<hr>
<div class="page-content">
    <div class="content">
        <!-- Start Content-->
        <div class="container">
            <div class="col-xl-12">
                <div class="card-box">
                    @if (TempData["Alert"] != null)
                    {
                        <style>
                            .div-centerr {
                                margin: auto;
                                width: 60%;
                                padding: 10px;
                            }
                        </style>
                        <div class="alert alert-warning col-6 div-centerr" align="center">
                            <i class="fa fa-exclamation-triangle"></i> @Html.Raw(TempData["Alert"].ToString())
                        </div>
                    }
                    else
                    {
                        <h4 class="header-title mt-0 mb-3" style="font-family: 'Dongle2'; color: black; font-size: 40px;">Danh sách các đợt chỉnh sửa thông tin sinh viên</h4>
                        <button onclick="location.href='@Url.Action("TaoDotChinhSua")'" type="button" id="button" name="button" value="Thêm sinh viên" class="btn btn-success btn-rounded" data-toggle="modal" data-target="#ThemSV">
                            <i class="mdi mdi-microsoft-excel"></i> Tạo mới
                        </button>
                        <hr />
                        <div class="table-responsive">
                            <table class="table table-hover mb-0">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Tên đợt chỉnh sửa</th>
                                        <th>Ngày bắt đầu</th>
                                        <th>Ngày kết thúc</th>
                                        <th>Lớp chỉnh sửa</th>
                                        <th>Tên người tạo</th>
                                        <th>Tình trạng</th>
                                        <th>Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        STT++;
                                    <tr>
                                        <td>@STT</td>
                                        <td>@item.DotChinhSua</td>
                                        <td>@item.NgayBatDau.ToString("dd/MM/yyyy HH:mm")</td>
                                        <td>@item.NgayKetThuc.ToString("dd/MM/yyyy HH:mm")</td>
                                        <td>@item.LopQuanLy.TenLop</td>
                                        <td>@item.NguoiTao</td>
                                        @if (item.TinhTrang == true)
                                        {
                                            <td style="color: green;">Đang mở</td>
                                            <td><a href="@Url.Action("CapNhatDCS", new { txt = "Dong", id = item.ID })"><i class="fa fa-toggle-on" style="font-size: 25px"></i></a></td>
                                        }
                                        else
                                        {
                                            <td style="color: red;">Đã đóng</td>
                                            if (DateTimeOffset.Now >= item.NgayBatDau && DateTimeOffset.Now <= item.NgayKetThuc)
                                            {
                                                <td><a href="@Url.Action("CapNhatDCS", new { txt = "Mo", id = item.ID })"><i class="fa fa-toggle-off" style="font-size: 25px"></i></a></td>
                                            }
                                        }
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                </div>
            </div><!-- end col -->
        </div>
    </div> <!-- content -->
</div>
<hr>