@model IEnumerable<Cap24Team3.Models.SinhVien>

@{
    ViewBag.Title = "DanhSachSV";
    Layout = "~/Views/Shared/Student_layout.cshtml";
    int STT = 0;
    var diemtb = ViewData["DiemTB"] as double[];
    var diemtbchung = ViewData["DiemTBChung"] as double[];
    var listHK = Session["listHK"] as List<string>;
    int tongtinchi = 0;
    int tongtinchi1 = 0;
    if (listHK != null)
    {
        for (int i = 0; i < listHK.Count; i++)
        {
            var tinchi = Session["SoTC"] as int[];
            tongtinchi1 = tongtinchi1 + tinchi[i];
        }
    }
    var textdiemtb = "";
    int tongsotinchi = 0;
    if (ViewData["Tongsotinchi"] != null)
    {
        tongsotinchi = int.Parse(ViewData["Tongsotinchi"].ToString());
        var diemtrungbinh = Math.Round((double)tongtinchi1 / (double)tongsotinchi, 3) * 100;
        textdiemtb = diemtrungbinh + "%";
    }
    var HocPhanDaoTao = Session["HocPhan"] as List<Cap24Team3.Models.HocPhanDaoTao>;
    var diemhp = Session["diemso"] as List<Cap24Team3.Models.DiemHocPhan>;
    var sinhvien = Session["sinhvien"] as Cap24Team3.Models.SinhVien;
    var dotcapnhat = Session["dotcapnhat"] as List<Cap24Team3.Models.DotChinhSuaThongTin>;
    var capnhattt = Session["capnhattt"] as List<Cap24Team3.Models.ChinhSuaThongTin>;
}
<section class="pager-section">
    <div class="container">
        <div class="pager-content text-center">
            <h2 style="font-family: 'Montserrat'; font-weight: 600; font-size: 100px; ">Quản lý lớp</h2>
            <ul>
                <li><a href="#" title="">Home</a></li>
                <li><span>Quản lý lớp</span></li>
            </ul>
        </div><!--pager-content end-->
        <h4 class="page-titlee">E-Profile</h4>
    </div>
</section><!--pager-section end-->
<hr>
<div class="page-content">
    <div class="content">
        <!-- Start Content-->
        <div class="container">
            <button type="button" id="button" name="button" value="Thêm sinh viên" class="btn btn-secondary btn-rounded" data-toggle="modal" data-target="#ThemSV">
                Thêm sinh viên
            </button>
            <hr />
            <div class="col-xl-12">
                <div class="card-box">
                    <div class="table-responsive">
                        <table class="table table-hover mb-0" id="table">
                            <thead>
                                <tr>
                                    <th>MSSV</th>
                                    <th>Họ</th>
                                    <th>Tên</th>
                                    <th>Ngày sinh</th>
                                    <th>Giới tính</th>
                                    <th>Tình trạng</th>
                                    <th>Email</th>
                                    <th>Thao tác</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var s in Model)
                                {

                                    <tr>
                                        <td>@s.MSSV</td>
                                        <td>@s.Ho</td>
                                        <td>@s.Ten</td>
                                        <td>@s.NgaySinh</td>
                                        <td>@s.GioiTinh</td>
                                        <td>
                                            <a style="color:cornflowerblue" href="@Url.Action("DoiTinhTrang", new {id = s.ID })">@s.TinhTrang.TenTinhTrang</a>
                                        </td>
                                        <td>@s.Email_1</td>
                                        <td>
                                            <a href="@Url.Action("XemChiTietSV", new { id = s.ID })">Xem chi tiết</a> |
                                            <a href="@Url.Action("XemDiemSinhVien", new { id = s.ID })"> Xem điểm</a> |
                                            <a href="@Url.Action("XoaSVKhoiLop", new { id = s.ID })"> Xóa</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div> <!-- end .table-responsive-->
                </div> <!-- end card-box -->
            </div> <!-- end col -->
        </div>
        <!-- Thêm sinh viên -->
        <div class="modal fade" id="ThemSV" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel" style="font-family: Roboto; color: black; font-weight: 600;">Thêm sinh viên vào lớp</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @using (Html.BeginForm("ThemSinhVienVaoLop", "ChuNhiemLop", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <input type="number" name="idLop" id="idLop" value="@Model.First().ID_Lop" hidden />
                            <input type="text" name="SinhVien" id="SinhVien" placeholder="Nhập MSSV" class="form-control" />
                        }
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                        <input type="submit" class="btn btn-primary" value="Thêm" />
                    </div>
                </div>
            </div>
        </div>
        <!-- Đổi tình trạng -->
        <div class="modal fade" id="DoiTinhTrangSV" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
            @{ var svien = Session["SinhVienTT"] as Cap24Team3.Models.SinhVien; }
            @if (svien != null)
            {
                <form method="post">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" style="font-family: Roboto; color: black; font-weight: 600;">Thay đổi tình trạng sinh viên @svien.Ho @svien.Ten: </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <input type="number" name="idSV" value="@svien.ID" required hidden />
                                    <select class="form-control" name="tinhtrang">
                                        @foreach (var tinhtrang in ViewData["DSTT"] as List<Cap24Team3.Models.TinhTrang>)
                                        {
                                            <option value="@tinhtrang.ID" style="font-family: Roboto; color: black;"> @tinhtrang.TenTinhTrang</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                <button type="submit" class="btn btn-primary" formaction="@Url.Action("XacNhanDoiTinhTrang")">Lưu</button>
                            </div>
                        </div>
                    </div>

                </form>
            }
        </div>
        <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
            @if (sinhvien != null)
            {
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="col-1"></div>
                            <div class="col-10 text-center">
                                <h4 class="modal-title" style="font-family: Roboto; color: black; font-weight: 600;"> Thông tin sinh viên</h4>
                            </div>

                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                                <div class="mt-3">
                                    <h4 style="font-family: 'Montserrat'; color: black; font-weight: 600;">@sinhvien.Ho @sinhvien.Ten</h4>
                                </div>
                            </div>
                        </div>
                        <div class="card-body text-wrap">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h5 class="mb-0" style="font-family: 'Montserrat'; color: black; font-weight: 600;">Mã số sinh viên:</h5>
                                </div>
                                <div class="col-sm-9 text-secondary" style="font-family: 'Montserrat'; color: black;">
                                    @sinhvien.MSSV
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h5 class="mb-0" style="font-family: 'Montserrat'; color: black; font-weight: 600;">Ngày sinh:</h5>
                                </div>
                                <div class="col-sm-9 text-secondary" style="font-family: 'Montserrat'; color: black;">
                                    @sinhvien.NgaySinh
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h5 class="mb-0" style="font-family: 'Montserrat'; color: black; font-weight: 600;">Giới tính:</h5>
                                </div>
                                <div class="col-sm-9 text-secondary" style="font-family: 'Montserrat'; color: black;">
                                    @sinhvien.GioiTinh
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h5 class="mb-0" style="font-family: 'Montserrat'; color: black; font-weight: 600;">Tình trạng:</h5>
                                </div>
                                <div class="col-sm-9 text-secondary" style="font-family: 'Montserrat'; color: black;">
                                    @sinhvien.TinhTrang.TenTinhTrang
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h5 class="mb-0" style="font-family: 'Montserrat'; color: black; font-weight: 600;">Mail trường cấp:</h5>
                                </div>
                                <div class="col-sm-9 text-secondary" style="font-family: 'Montserrat'; color: black;">
                                    @sinhvien.Email_1
                                </div>
                            </div>
                            <hr>
                            <div class="accordion" id="accordionExample">
                                @if (capnhattt.Count() != 0)
                                {
                                    foreach (var dcn in dotcapnhat)
                                    {
                                        <div class="card">
                                            <div class="card-header" id="headingOne">
                                                <h5 class="mb-0">
                                                    <button class="btn " type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                        Thông tin @dcn.DotChinhSua
                                                    </button>
                                                </h5>
                                            </div>
                                            @{
                                                string dtdd = "", dtcha = "", dtme = "";
                                                if (capnhattt.Last(s => s.ID_DotChinhSua == dcn.ID).DTDD != null)
                                                {
                                                    dtdd = "0" + capnhattt.Last(s => s.ID_DotChinhSua == dcn.ID).DTDD;
                                                }
                                                if (capnhattt.Last(s => s.ID_DotChinhSua == dcn.ID).DTCha != null)
                                                {
                                                    dtcha = "0" + capnhattt.Last(s => s.ID_DotChinhSua == dcn.ID).DTCha;
                                                }
                                                if (capnhattt.Last(s => s.ID_DotChinhSua == dcn.ID).DTDD != null)
                                                {
                                                    dtme = "0" + capnhattt.Last(s => s.ID_DotChinhSua == dcn.ID).DTMe;
                                                }
                                            }
                                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-sm-3">
                                                            <h5 class="mb-0" style="font-family: 'Montserrat'; color: black; font-weight: 600;">Email 2:</h5>
                                                        </div>
                                                        <div class="col-sm-9 text-secondary" style="font-family: 'Montserrat'; color: black;">
                                                            @capnhattt.Last(s => s.ID_DotChinhSua == dcn.ID).MailCaNhan
                                                        </div>
                                                    </div>
                                                    <hr>
                                                    <div class="row">
                                                        <div class="col-sm-3">
                                                            <h5 class="mb-0" style="font-family: 'Montserrat'; color: black; font-weight: 600;">SĐT:</h5>
                                                        </div>
                                                        <div class="col-sm-9 text-secondary" style="font-family: 'Montserrat'; color: black;">
                                                            @dtdd
                                                        </div>
                                                    </div>
                                                    <hr>
                                                    <div class="row">
                                                        <div class="col-sm-3">
                                                            <h5 class="mb-0" style="font-family: 'Montserrat'; color: black; font-weight: 600;">SĐT Cha:</h5>
                                                        </div>
                                                        <div class="col-sm-9 text-secondary" style="font-family: 'Montserrat'; color: black;">
                                                            @dtcha
                                                        </div>
                                                    </div>
                                                    <hr>
                                                    <div class="row">
                                                        <div class="col-sm-3">
                                                            <h5 class="mb-0" style="font-family: 'Montserrat'; color: black; font-weight: 600;">SĐT Mẹ:</h5>
                                                        </div>
                                                        <div class="col-sm-9 text-secondary" style="font-family: 'Montserrat'; color: black;">
                                                            @dtme
                                                        </div>
                                                    </div>
                                                    <hr>
                                                    <div class="row">
                                                        <div class="col-sm-3">
                                                            <h5 class="mb-0" style="font-family: 'Montserrat'; color: black; font-weight: 600;">Địa chỉ:</h5>
                                                        </div>
                                                        <div class="col-sm-9 text-secondary" style="font-family: 'Montserrat'; color: black;">
                                                            @capnhattt.Last(s => s.ID_DotChinhSua == dcn.ID).DiaChi
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                                <div class="card">
                                    <div class="card-header" id="headingThree">
                                        <h5 class="mb-0">
                                            <button class="btn collapsed" type="button" style="font-family: 'Montserrat'; color: black;" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                Thông tin mặc định
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <h5 class="mb-0" style="font-family: 'Montserrat'; color: black; font-weight: 600;">Email cá nhân:</h5>
                                                </div>
                                                <div class="col-sm-9 text-secondary" style="font-family: 'Montserrat'; color: black;">
                                                    @sinhvien.Email_2
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <h5 class="mb-0" style="font-family: 'Montserrat'; color: black; font-weight: 600;">SĐT:</h5>
                                                </div>
                                                <div class="col-sm-9 text-secondary" style="font-family: 'Montserrat'; color: black;">
                                                    @sinhvien.DTDD
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <h5 class="mb-0" style="font-family: 'Montserrat'; color: black; font-weight: 600;">SĐT Cha:</h5>
                                                </div>
                                                <div class="col-sm-9 text-secondary" style="font-family: 'Montserrat'; color: black;">
                                                    @sinhvien.DTCha
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <h5 class="mb-0" style="font-family: 'Montserrat'; color: black; font-weight: 600;">SĐT Mẹ:</h5>
                                                </div>
                                                <div class="col-sm-9 text-secondary" style="font-family: 'Montserrat'; color: black;">
                                                    @sinhvien.DTMe
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <h5 class="mb-0" style="font-family: 'Montserrat'; color: black; font-weight: 600;">Địa chỉ:</h5>
                                                </div>
                                                <div class="col-sm-9 text-secondary" style="font-family: 'Montserrat'; color: black;">
                                                    @sinhvien.DiaChi
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                        </div>
                    </div>
                    }
                </div>
            }
            <!-- Xem điểm-->
            <div class="modal fade" id="XemDiemSo" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                @{ var Sinhvien = Session["sinhvien1"] as Cap24Team3.Models.SinhVien; }
                @if (Sinhvien != null)
                {
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <button id="RenderPortfolio_Btn" class="btn btn-secondary">Xem theo học kỳ</button>
                            &ensp;
                            <button id="RenderResults_Btn" class="btn btn-secondary">Xem theo khối kiến thức</button>
                            <!-- end page title -->
                            <div class="visible" id="portfolio">
                                @for (int i = 0; i < listHK.Count; i++)
                                {
                                    <div class="col-xl-12">
                                        <div class="card-box">
                                            <h4 class="header-title mt-0 mb-3" style="font-family: 'Dongle2'; color: black; font-size: 30px;">Học kỳ @listHK[i]</h4>
                                            <div class="table-responsive ">
                                                <table class="table table-hover mb-0">
                                                    <thead>
                                                        <tr>
                                                            <th>STT</th>
                                                            <th>Mã học phần</th>
                                                            <th>Tên học phần</th>
                                                            <th>Số tín chỉ</th>
                                                            <th>Điểm hệ số 10</th>
                                                            <th>Điểm hệ số 4</th>
                                                            <th>Điểm chữ</th>
                                                            <th>Kết quả</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var item in diemhp)
                                                        {
                                                            if (item.HocKyChinhThuc.ToString() == listHK[i])
                                                            {
                                                                STT++;
                                                                <tr>
                                                                    <td>@STT</td>
                                                                    <td>@item.TenHocPhan</td>
                                                                    <td>@item.HocPhan</td>
                                                                    <td>@item.SoTinChi</td>
                                                                    <td>@item.Diem10</td>
                                                                    <td>@item.Diem4</td>
                                                                    <td>@item.DiemChu</td>
                                                                    @if (item.QuaMon == true)
                                                                    {
                                                                        <td><i class="fa fa-check" style="color: green;"></i></td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td><i class="fa fa-times" style="color: red; font-size: 23px;"></i></td>
                                                                    }
                                                                </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div><!-- end col -->
                                }
                            </div>
                            <div id="results" class="hidden">
                                @foreach (var hk in listHK)
                                {
                                    <div class="col-xl-12">
                                        <div class="card-box">
                                            @if (hk == "")
                                            {
                                                <h4 class="header-title mt-0 mb-3" style="font-family: 'Dongle2'; color: black; font-size: 30px;">Tự chọn</h4>
                                            }
                                            else
                                            {
                                                <h4 class="header-title mt-0 mb-3" style="font-family: 'Dongle2'; color: black; font-size: 30px;">Học kỳ @hk</h4>
                                            }
                                            <div class="table-responsive">
                                                <table class="table table-hover mb-0">
                                                    <thead>
                                                        <tr>
                                                            <th>STT</th>
                                                            <th>Mã học phần</th>
                                                            <th>Tên học phần</th>
                                                            <th>Số tín chỉ</th>
                                                            <th>Điểm 10/10</th>
                                                            <th>Điểm 4/10</th>
                                                            <th>Điểm Chữ</th>
                                                            <th>Kết quả</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var item in HocPhanDaoTao)
                                                        {
                                                            if (item.HocKy.ToString() == hk)
                                                            {
                                                                <tr>
                                                                    @if (item.ID_HocPhanTuChon == null)
                                                                    {
                                                                        STT++;
                                                                        <td>@STT</td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td></td>
                                                                    }
                                                                    <td>@item.MaHocPhan</td>
                                                                    <td>@item.TenHocPhan</td>
                                                                    <td>@item.SoTinChi</td>
                                                                    @foreach (var diem in diemhp)
                                                                    {
                                                                        if (diem.HocPhan == item.MaHocPhan)
                                                                        {
                                                                            <td>@diem.Diem10</td>
                                                                            <td>@diem.Diem4</td>
                                                                            <td>@diem.DiemChu</td>
                                                                            if (diem.QuaMon == true)
                                                                            {
                                                                                <td>Đạt</td>
                                                                            }
                                                                            else
                                                                            {
                                                                                <td>Rớt</td>
                                                                            }
                                                                        }
                                                                    }
                                                                </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div><!-- end col -->
                                }
                            </div>
                            <style type="text/css">
                                .hidden {
                                    display: none;
                                }

                                .visible {
                                    display: block;
                                }
                            </style>
                            <script type="text/javascript">

                                var portfolioDiv = document.getElementById('portfolio');
                                var resultsDiv = document.getElementById('results');

                                var portfolioBtn = document.getElementById('RenderPortfolio_Btn');
                                var resultsBtn = document.getElementById('RenderResults_Btn');

                                portfolioBtn.onclick = function () {
                                    resultsDiv.setAttribute('class', 'hidden');
                                    portfolioDiv.setAttribute('class', 'visible');
                                };

                                resultsBtn.onclick = function () {
                                    portfolioDiv.setAttribute('class', 'hidden');
                                    resultsDiv.setAttribute('class', 'visible');
                                };

                            </script>
                        </div>
                    </div>
                }
            </div>
            <div class="modal fade" id="XemDiemSo" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                @{ var Sinhvien1 = Session["sinhvien1"] as Cap24Team3.Models.SinhVien; }
                @if (Sinhvien1 != null)
                {
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <div class="col-1"></div>
                                <div class="col-10 text-center">
                                    <h4 class="modal-title" style="font-family: Roboto;" color: black;> Thông tin sinh viên</h4>
                                </div>

                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="card-body">
                                <div class="d-flex flex-column align-items-center text-center">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                                    <div class="mt-3">
                                        <h4 style="font-family: 'Montserrat'; color: black; font-weight: 600;">@Sinhvien.Ho @Sinhvien.Ten</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body text-wrap">
                                <div class="row">
                                    <table>
                                        <tr style="">
                                            <th>Mã học phần</th>
                                            <th>Tên học phần</th>
                                            <th>Số tín chỉ</th>
                                            <th>Học kỳ</th>
                                            <th>Điểm thang 10</th>
                                            <th>Điểm thang 4</th>
                                            <th>Đánh giá</th>
                                            <th>Qua môn</th>
                                        </tr>
                                        @foreach (var item in Session["diemso"] as List<Cap24Team3.Models.DiemHocPhan>)
                                        {
                                            <tr>
                                                <td>@item.HocPhan</td>
                                                <td>@item.TenHocPhan</td>
                                                <td>@item.SoTinChi</td>
                                                <td>@item.HocKy</td>
                                                <td>@item.Diem10</td>
                                                <td>@item.Diem4</td>
                                                <td>@item.DiemChu</td>
                                                @if (item.QuaMon == true)
                                                {
                                                    <td><i class="fa fa-check" style="color: green;"></i></td>
                                                }
                                                else
                                                {
                                                    <td><i class="fa fa-times" style="color: red; font-size: 23px;"></i></td>
                                                }
                                            </tr>
                                        }
                                    </table>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <!-- xác nhận xóa -->
            <div class="modal fade" id="xacNhanXoa" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                @{ var sv = Session["sinhvien2"] as Cap24Team3.Models.SinhVien; }
                @if (sv != null)
                {
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <div class="col-1"></div>
                                <div class="col-10 text-center">
                                    <h4 class="modal-title" style="font-family: Roboto; color: black;">Xác nhận xóa sinh viên:</h4>
                                </div>

                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <span style="font-family: 'Montserrat'; color: black; font-weight: 600 ">Xác nhận chắc chắn xóa sinh viên @sv.Ho @sv.Ten</span>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <form method="post">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                    <button type="submit" class="btn btn-primary" formaction="@Url.Action("XacNhanXoaSV", new { ID = Session["XoaSV"] })">Xóa</button>
                                </form>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script>
    $('#exampleModal').on('show.bs.modal', event => {
        var button = $(event.relatedTarget);
        var modal = $(this);

    });
</script>
@if (Session["sinhvien2"] != null)
{
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $('#xacNhanXoa').modal('show');
        });
    </script>
    Session["sinhvien2"] = null;
}
@if (Session["sinhvien"] != null)
{
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $('#modelId').modal('show');
        });
    </script>
    Session["sinhvien"] = null;
}
@if (Session["sinhvien1"] != null)
{
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $('#XemDiemSo').modal('show');
        });
    </script>
    Session["sinhvien1"] = null;
}
<script>
    var $rows = $('#table tr');
    $('#search').keyup(function () {
        var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
        $rows.show().filter(function () {
            var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
            return !~text.indexOf(val);
        }).hide();
    });
</script>
<script>
    $('#exampleModal').on('show.bs.modal', event => {
        var button = $(event.relatedTarget);
        var modal = $(this);

    });
</script>
@if (Session["sinhvien"] != null)
{
    <script>
        $(document).ready(function () {
            $('#modelId').modal('show');
        });
    </script>
    Session["sinhvien"] = null;
}
@if (Session["sinhvien1"] != null)
{
    <script>
        $(document).ready(function () {
            $('#XemDiemSo').modal('show');
        });
    </script>
    Session["sinhvien1"] = null;
}
<script>
    var $rows = $('#table tr');
    $('#search').keyup(function () {
        var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
        $rows.show().filter(function () {
            var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
            return !~text.indexOf(val);
        }).hide();
    });
</script>
@if (Session["SinhVienTT"] != null)
{
    <script>
        $(document).ready(function () {
            $('#DoiTinhTrangSV').modal('show');
        });
    </script>
    Session["SinhVienTT"] = null;
}
