@model Cap24Team3.Models.ChinhSuaThongTin

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Student_layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ChinhSuaThongTin</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MailCaNhan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MailCaNhan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DTDD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DTDD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DTCha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DTCha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DTMe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DTMe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DotChinhSuaThongTin.DotChinhSua)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DotChinhSuaThongTin.DotChinhSua)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SinhVien.MSSV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SinhVien.MSSV)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
