@model IEnumerable<Cap24Team3.Models.ChinhSuaThongTin>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Student_layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MailCaNhan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DTDD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DTCha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DTMe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiaChi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DotChinhSuaThongTin.DotChinhSua)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SinhVien.MSSV)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MailCaNhan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DTDD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DTCha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DTMe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiaChi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DotChinhSuaThongTin.DotChinhSua)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SinhVien.MSSV)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
