@model IEnumerable<Cap24Team3.Models.DiemHocPhan>
@{
    ViewBag.Title = "DangKyKHDT";
    Layout = "~/Views/Shared/Student_layout.cshtml";
    int STT = 0;
    var diem = new List<Cap24Team3.Models.DiemHocPhan>();
    var sv = new Cap24Team3.Models.SinhVien();
    if (TempData["Diemso"] != null)
    {
        sv = TempData["Sinhvien"] as Cap24Team3.Models.SinhVien;
    }
}

<section class="pager-section">
    <div class="container">
        <div class="pager-content text-center">
            <h2 style="font-family: 'Montserrat';font-weight: 600; font-size: 100px;">Kế Hoạch Học Tập</h2>
            <ul>
                <li><a href="#" title="">Home</a></li>
                <li><span>Kế hoạch học tập</span></li>
            </ul>
        </div><!--pager-content end-->
        <h4 class="page-titlee">E-Profile</h4>
    </div>
</section><!--pager-section end-->
<hr>
<div class="page-content">
    <div class="content">
        <!-- Start Content-->
        <div class="container">
            <br>
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-flex align-items-center justify-content-between">
                        <h4 class="page-title" style="font-family: 'Dongle2'; color: black; font-size: 50px;"></h4>
                    </div>
                </div>
            </div>
            @if (TempData["Alert"] == null)
            {
                foreach (var listHK in ViewData["listHK"] as List<Cap24Team3.Controllers.hk>)
                {
                    <div class="col-xl-12">
                        <div class="card-box">
                            @if (listHK.HocKy1 == "")
                            {
                                <h4 class="header-title mt-0 mb-3" style="font-family: 'Dongle2'; color: black; font-size: 30px;">Tự chọn</h4>
                            }
                            else
                            {
                                <h4 class="header-title mt-0 mb-3" style="font-family: 'Dongle2'; color: black; font-size: 30px;">Học kỳ @listHK.HocKy (@listHK.HocKy1)</h4>
                            }
                            <div class="table-responsive">
                                <table class="table table-hover mb-0">
                                    <thead>
                                        <tr>
                                            <th>STT</th>
                                            <th>Mã học phần</th>
                                            <th>Tên học phần</th>
                                            <th>Số tín chỉ</th>
                                            <th>BB/TC</th>
                                            <th>Tiên quyết</th>
                                            <th>Học trước</th>
                                            <th>Song hành</th>
                                            <th>Kết quả</th>
                                            <th>Thao tác</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            if (item.HocKyKeHoach.ToString() == listHK.HocKy)
                                            {
                                                if (item.QuaMon == true || item.Diem10 == "" || item.HocKyKeHoach == (int)ViewData["HocKyHienTai"])
                                                {
                                                    <tr>
                                                        @{STT++; }
                                                        <td>@STT</td>
                                                        <td>@item.HocPhan</td>
                                                        <td>@item.TenHocPhan</td>
                                                        <td>@item.SoTinChi</td>
                                                        @if (item.BBTC == true)
                                                        {
                                                            <td title="Bắt Buộc">BB</td>
                                                        }
                                                        else
                                                        {
                                                            <td title="Tự Chọn">TC</td>
                                                        }
                                                        <td>
                                                            @foreach (var rangbuoc in ViewData["RangBuocHocPhan"] as List<Cap24Team3.Models.RangBuocHocPhan>)
                                                            {
                                                                if (rangbuoc.LoaiRangBuoc == "Tiên quyết" && rangbuoc.HocPhanDaoTao1.ID == item.ID)
                                                                {
                                                                    if (rangbuoc.HocPhanDaoTao.MaHocPhan != null)
                                                                    {
                                                                        <p title="@rangbuoc.HocPhanDaoTao.TenHocPhan">
                                                                            @rangbuoc.HocPhanDaoTao.MaHocPhan
                                                                        </p>
                                                                    }
                                                                    else
                                                                    {
                                                                        <p>
                                                                            @rangbuoc.HocPhanDaoTao.TenHocPhan
                                                                        </p>
                                                                    }
                                                                }
                                                            }
                                                        </td>
                                                        <td>
                                                            @foreach (var rangbuoc in ViewData["RangBuocHocPhan"] as List<Cap24Team3.Models.RangBuocHocPhan>)
                                                            {
                                                                if (rangbuoc.LoaiRangBuoc == "Học trước" && rangbuoc.HocPhanDaoTao1.ID == item.ID)
                                                                {
                                                                    if (rangbuoc.HocPhanDaoTao.MaHocPhan != null)
                                                                    {
                                                                        <p title="@rangbuoc.HocPhanDaoTao.TenHocPhan">
                                                                            @rangbuoc.HocPhanDaoTao.MaHocPhan
                                                                        </p>
                                                                    }
                                                                    else
                                                                    {
                                                                        <p>
                                                                            @rangbuoc.HocPhanDaoTao.TenHocPhan
                                                                        </p>
                                                                    }
                                                                }
                                                            }
                                                        </td>
                                                        <td>
                                                            @foreach (var rangbuoc in ViewData["RangBuocHocPhan"] as List<Cap24Team3.Models.RangBuocHocPhan>)
                                                            {
                                                                if (rangbuoc.LoaiRangBuoc == "Song hành" && rangbuoc.HocPhanDaoTao1.ID == item.ID)
                                                                {
                                                                    if (rangbuoc.HocPhanDaoTao.MaHocPhan != null)
                                                                    {
                                                                        <p title="@rangbuoc.HocPhanDaoTao.TenHocPhan">
                                                                            @rangbuoc.HocPhanDaoTao.MaHocPhan
                                                                        </p>
                                                                    }
                                                                    else
                                                                    {
                                                                        <p>
                                                                            @rangbuoc.HocPhanDaoTao.TenHocPhan
                                                                        </p>
                                                                    }
                                                                }
                                                            }
                                                        </td>
                                                        @{
                                                            if (item.Diem10 != null)
                                                            {
                                                                <td>
                                                                    @item.Diem10
                                                                    @if (item.QuaMon == true)
                                                                    {
                                                                        <i class="fa fa-check" style="color: green;"></i>

                                                                    }
                                                                    else
                                                                    {
                                                                        <i class="fa fa-times" style="color: red; font-size: 20px;"></i>
                                                                    }
                                                                </td>
                                                                if (item.QuaMon == true)
                                                                {
                                                                    <td></td>
                                                                }
                                                                else
                                                                {
                                                                    if (item.HocKyDangKy >= (int)ViewData["HocKyHienTai"])
                                                                    {
                                                                        <td><a href="@Url.Action("SuaHK", new { id = item.ID })"><i class="fa fa-edit"></i></a></td>
                                                                    }
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <td></td>
                                                            }
                                                        }
                                                    </tr>
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                }
                <div class="col-xl-12">
                    <div class="card-box">
                        <h4 class="header-title mt-0 mb-3" style="font-family: 'Dongle2'; color: black; font-size: 30px;">Chưa qua môn</h4>
                        <div class="table-responsive">
                            <table class="table table-hover mb-0">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Mã học phần</th>
                                        <th>Tên học phần</th>
                                        <th>Số tín chỉ</th>
                                        <th>BB/TC</th>
                                        <th>Tiên quyết</th>
                                        <th>Học trước</th>
                                        <th>Song hành</th>
                                        <th>Kết quả</th>
                                        <th>Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        if (item.Diem10 == null && item.HocKyKeHoach != (int)ViewData["HocKyHienTai"])
                                        {
                                            <tr>
                                                @{STT++; }
                                                <td>@STT</td>
                                                <td>@item.HocPhan</td>
                                                <td>@item.TenHocPhan</td>
                                                <td>@item.SoTinChi</td>
                                                @if (item.BBTC == true)
                                                {
                                                    <td title="Bắt Buộc">BB</td>
                                                }
                                                else
                                                {
                                                    <td title="Tự Chọn">TC</td>
                                                }
                                                <td>
                                                    @foreach (var rangbuoc in ViewData["RangBuocHocPhan"] as List<Cap24Team3.Models.RangBuocHocPhan>)
                                                    {
                                                        if (rangbuoc.LoaiRangBuoc == "Tiên quyết" && rangbuoc.HocPhanDaoTao1.ID == item.ID)
                                                        {
                                                            if (rangbuoc.HocPhanDaoTao.MaHocPhan != null)
                                                            {
                                                                <p title="@rangbuoc.HocPhanDaoTao.TenHocPhan">
                                                                    @rangbuoc.HocPhanDaoTao.MaHocPhan
                                                                </p>
                                                            }
                                                            else
                                                            {
                                                                <p>
                                                                    @rangbuoc.HocPhanDaoTao.TenHocPhan
                                                                </p>
                                                            }
                                                        }
                                                    }
                                                </td>
                                                <td>
                                                    @foreach (var rangbuoc in ViewData["RangBuocHocPhan"] as List<Cap24Team3.Models.RangBuocHocPhan>)
                                                    {
                                                        if (rangbuoc.LoaiRangBuoc == "Học trước" && rangbuoc.HocPhanDaoTao1.ID == item.ID)
                                                        {
                                                            if (rangbuoc.HocPhanDaoTao.MaHocPhan != null)
                                                            {
                                                                <p title="@rangbuoc.HocPhanDaoTao.TenHocPhan">
                                                                    @rangbuoc.HocPhanDaoTao.MaHocPhan
                                                                </p>
                                                            }
                                                            else
                                                            {
                                                                <p>
                                                                    @rangbuoc.HocPhanDaoTao.TenHocPhan
                                                                </p>
                                                            }
                                                        }
                                                    }
                                                </td>
                                                <td>
                                                    @foreach (var rangbuoc in ViewData["RangBuocHocPhan"] as List<Cap24Team3.Models.RangBuocHocPhan>)
                                                    {
                                                        if (rangbuoc.LoaiRangBuoc == "Song hành" && rangbuoc.HocPhanDaoTao1.ID == item.ID)
                                                        {
                                                            if (rangbuoc.HocPhanDaoTao.MaHocPhan != null)
                                                            {
                                                                <p title="@rangbuoc.HocPhanDaoTao.TenHocPhan">
                                                                    @rangbuoc.HocPhanDaoTao.MaHocPhan
                                                                </p>
                                                            }
                                                            else
                                                            {
                                                                <p>
                                                                    @rangbuoc.HocPhanDaoTao.TenHocPhan
                                                                </p>
                                                            }
                                                        }
                                                    }
                                                </td>
                                                @{
                                                    if (item.Diem10 != null)
                                                    {
                                                        <td>
                                                            @item.Diem10
                                                            @if (item.QuaMon == true)
                                                            {
                                                                <i class="fa fa-check" style="color: green;"></i>

                                                            }
                                                            else
                                                            {
                                                                <i class="fa fa-times" style="color: red; font-size: 20px;"></i>
                                                            }
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td></td>
                                                    }

                                                    if (item.QuaMon == true)
                                                    {
                                                        <td></td>
                                                    }
                                                    else
                                                    {
                                                        <td><a href="@Url.Action("SuaHK", new { id = item.ID })"><i class="fa fa-edit"></i></a></td>
                                                    }
                                                }
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div> <!-- content -->
</div>
<hr>
<!-- Modal -->
@if (Session["HocPhanDC"] != null)
{
    var mh = Session["HocPhanDC"] as Cap24Team3.Models.DiemHocPhan;
    <div class="modal fade" id="editHK" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" style="font-family: 'Roboto'; color: black; font-weight: 600;">Điểu chỉnh học kỳ @mh.TenHocPhan</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="@Url.Action("LuuHP")">
                    <div class="modal-body">
                        <select class="form-control col-6" name="hocky">
                            @for (int i = 1; i <= 12; i++)
                            {
                                <option value="@i.ToString()">@i.ToString()</option>
                            }
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                        <input type="submit" class="btn btn-primary" value="Lưu" />
                    </div>
                </form>
            </div>
        </div>
    </div>
}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

@if (Session["HocPhanDC"] != null)
{
    <script>
        $(document).ready(function () {
            $('#editHK').modal('show');
        });
    </script>
}
