@model IEnumerable<Cap24Team3.Models.DiemHocPhan>
@using Microsoft.Owin.Security
@{
    ViewBag.Title = "XemDiemSV";
    Layout = "~/Views/Shared/Student_layout.cshtml";
    int STT = 0;
    var diemtb = ViewData["DiemTB"] as double[];
    var diemtbchung = ViewData["DiemTBChung"] as double[];
    var listHK = ViewData["listHK"] as List<string>;
    int tongtinchi = 0;
    int tongtinchi1 = 0;
    if (listHK != null)
    {
        for (int i = 0; i < listHK.Count; i++)
        {
            var tinchi = ViewData["SoTC"] as int[];
            tongtinchi1 = tongtinchi1 + tinchi[i];
        }
    }
    var textdiemtb = "";
    int tongsotinchi = 0;
    if (ViewData["Tongsotinchi"] != null)
    {
        tongsotinchi = int.Parse(ViewData["Tongsotinchi"].ToString());
        var diemtrungbinh = Math.Round((double)tongtinchi1 / (double)tongsotinchi, 3) * 100;
        if (diemtrungbinh > 100)
        {
            diemtrungbinh = 100;
        }
        textdiemtb = diemtrungbinh + "%";
    }
}
<style type="text/css">
    .hidden {
        display: none;
    }

    .visible {
        display: block;
    }
</style>
<script nonce="undefined" src="https://cdn.zingchart.com/zingchart.min.js"></script>
<style>
    .zc-body {
        background-color: #fff;
    }

    .chart--container {
        width: 100%;
        height: 100%;
        min-height: 530px;
    }

    .zc-ref {
        display: none;
    }
</style>
<section class="pager-section">
    <div class="container">
        <div class="pager-content text-center">
            <h2 style="font-family: 'Montserrat';font-weight: 600; font-size: 100px;">Xem điểm</h2>
            <ul>
            </ul>
        </div><!--pager-content end-->
        <h4 class="page-titlee">E-Profile</h4>
    </div>
</section><!--pager-section end-->
<hr>
<div class="page-content">
    <div class="content">

        <!-- Start Content-->
        <div class="container">

            <!-- start page title -->
            @if (listHK != null)
            {
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-flex align-items-center justify-content-between">
                            <h4 class="page-title" style="font-family: 'Dongle2'; color: black; font-size: 50px;">BẢNG ĐIỂM CHI TIẾT</h4>
                        </div>
                    </div>
                </div>
                <!-- end page title -->
                <div class="col-12">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: @textdiemtb;" aria-valuemin="0" aria-valuemax="200">@textdiemtb</div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xl-6">
                        <table class="table table-centered mb-0" style="background-color: blanchedalmond;">
                            <tr>
                                <th>Tổng số tín chỉ</th>
                                <td>@tongsotinchi</td>
                            </tr>
                            <tr>
                                <th>Số tín chỉ đã hoàn thành</th>
                                <td>@tongtinchi1</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-xl-6">
                        <table class="table table-centered mb-0" style="background-color: blanchedalmond;">
                            <tr>
                                <th>Điểm trung bình chung</th>
                                @if (diemtbchung.Length > 1)
                                {
                                    <td>@diemtbchung[diemtbchung.Length - 1]</td>
                                }
                                else
                                {
                                    <td>0</td>
                                }
                            </tr>
                        </table>
                    </div>
                </div>
                <div id="myChart" class="chart--container">
                    <a class="zc-ref" href="https://www.zingchart.com/">Powered by ZingChart</a>
                </div>
                <script>
                    ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "b55b025e438fa8a98e32482b5f768ff5"];
                    let chartConfig = {
                        type: 'radar',
                        plot: {
                            aspect: 'area',
                            animation: {
                                effect: 3,
                                sequence: 1,
                                speed: 700,
                            },
                        },
                        scaleV: {
                            visible: false,
                        },
                        scaleK: {
                            values: @Html.Raw(Json.Encode(TempData["soluong"])),
                            labels: @Html.Raw(Json.Encode(TempData["Khoikienthuc1"])),
                            guide: {
                                alpha: 0.3,
                                backgroundColor: '#c5c5c5 #718eb4',
                                lineColor: '#607D8B',
                                lineStyle: 'solid',
                            },
                        item: {
                            backgroundColor: 'white',
                            borderColor: '#aeaeae',
                            borderRadius: '10px',
                            borderWidth: '1px',
                            fontColor: '#607D8B',
                            padding: '5 10',
                        },
                        refLine: {
                            lineColor: '#c10000',
                        },
                        tick: {
                            lineColor: '#59869c',
                            lineWidth: '2px',
                            lineStyle: 'dotted',
                            size: 20,
                        },
                    },
                    series: [{
                        values: @Html.Raw(Json.Encode(TempData["sotc"])),
                        text: 'farm',
                    },
                    {
                        values: @Html.Raw(Json.Encode(TempData["sotcmax"])),
                        backgroundColor: '#689F38',
                        lineColor: '#53a534',
                    },
                    ],
                    };

                    zingchart.render({
                        id: 'myChart',
                        data: chartConfig,
                        height: '100%',
                        width: '100%',
                    });
                </script>
                <br />
                <button id="RenderPortfolio_Btn" class="btn btn-secondary">Xem theo học kỳ</button>
                <button id="RenderResults_Btn" class="btn btn-secondary">Xem theo khối kiến thức</button>
                <br>
                <div class="visible" id="portfolio">
                    @for (int i = 0; i < listHK.Count; i++)
                    {
                        var tinchi = ViewData["SoTC"] as int[];
                        tongtinchi = tongtinchi + tinchi[i];
                        <div class="col-xl-12">
                            <div class="card-box">
                                <div class="table-responsive" style="overflow: auto">
                                    <table class="table table-centered mb-0">
                                        <h4 class="header-title mt-0 mb-3" style="font-family: 'Dongle2'; color: black; font-size: 30px;">Học kỳ @listHK[i]</h4>
                                        <thead>
                                            <tr>
                                                <th>STT</th>
                                                <th>Tên môn</th>
                                                <th>Mã môn</th>
                                                <th>Tín chỉ</th>
                                                <th>Điểm hệ số 10</th>
                                                <th>Điểm hệ số 4</th>
                                                <th>Điểm chữ</th>
                                                <th>Kết quả</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                if (item.HocKyKeHoach.ToString() == listHK[i])
                                                {
                                                    STT++;
                                                    <tr>
                                                        <td>@STT</td>
                                                        <td>@item.TenHocPhan</td>
                                                        <td>@item.HocPhan</td>
                                                        <td>@item.SoTinChi</td>
                                                        <td>@item.Diem10</td>
                                                        <td>@item.Diem4</td>
                                                        <td>@item.DiemChu</td>
                                                        @if (item.QuaMon == true)
                                                        {
                                                            <td><i class="fa fa-check" style="color: green;"></i></td>
                                                        }
                                                        else
                                                        {
                                                            <td><i class="fa fa-times" style="color: red; font-size: 23px;"></i></td>
                                                        }
                                                    </tr>
                                                }
                                            }
                                            @*<td><i class="fa fa-times" style="color: red; font-size: 23px;"></i></td>*@
                                        </tbody>
                                    </table>
                                </div> <!-- end .table-responsive-->
                            </div> <!-- end col -->
                        </div> <!-- end row -->
                        <div class="row">
                            <div class="col-xl-6">
                                <table class="table table-centered mb-0" style="background-color: blanchedalmond;">
                                    <tr>
                                        <th>Tổng số tín chỉ</th>
                                        <td>@tongsotinchi</td>
                                    </tr>
                                    <tr>
                                        <th>Số tín chỉ đã hoàn thành</th>
                                        <td>@tongtinchi</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-xl-6">
                                <table class="table table-centered mb-0" style="background-color: blanchedalmond;">
                                    <tr>
                                        <th>Điểm trung bình học kỳ</th>
                                        <td>@diemtb[i]</td>
                                    </tr>
                                    <tr>
                                        <th>Điểm trung bình chung</th>
                                        <td>@diemtbchung[i]</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <hr>
                    }
                </div>
                <div id="results" class="hidden">
                    @{ STT = 0;}
                    <div class="col-xl-12">
                        <div class="card-box">
                            @foreach (var kkt in TempData["Khoikienthuc"] as List<Cap24Team3.Controllers.khoikt>)
                            {
                                <div class="table-responsive" style="overflow: auto">
                                    <table class="table table-centered mb-0">
                                        <thead>
                                            <tr>
                                                <th>STT</th>
                                                <th>Tên môn</th>
                                                <th>Mã môn</th>
                                                <th>Tín chỉ</th>
                                                <th>Điểm hệ số 10</th>
                                                <th>Điểm hệ số 4</th>
                                                <th>Điểm chữ</th>
                                                <th>Kết quả</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <h4 class="header-title mt-0 mb-3" style="font-family: 'Dongle2'; color: black; font-size: 30px;">@kkt</h4>
                                            @foreach (var item in TempData["hp"] as List<Cap24Team3.Models.HocPhanDaoTao>)
                                            {
                                                if (item.KhoiKienThuc.TenKhoiKienThuc == kkt.tenkhoikt)
                                                {
                                                    STT++;
                                                    <tr>
                                                        <td>@STT</td>
                                                        <td>@item.TenHocPhan</td>
                                                        <td>@item.MaHocPhan</td>
                                                        <td>@item.SoTinChi</td>
                                                        @if (Model.OrderByDescending(s => s.ID).FirstOrDefault(s => s.HocPhan == item.MaHocPhan) != null)
                                                        {
                                                            <td>@Model.OrderByDescending(s => s.ID).FirstOrDefault(s => s.HocPhan == item.MaHocPhan).Diem10</td>
                                                            <td>@Model.OrderByDescending(s => s.ID).FirstOrDefault(s => s.HocPhan == item.MaHocPhan).Diem4</td>
                                                            <td>@Model.OrderByDescending(s => s.ID).FirstOrDefault(s => s.HocPhan == item.MaHocPhan).DiemChu</td>
                                                            if (Model.OrderByDescending(s => s.ID).FirstOrDefault(s => s.HocPhan == item.MaHocPhan).QuaMon == true)
                                                            {
                                                                <td><i class="fa fa-check" style="color: green;"></i></td>
                                                            }
                                                            else
                                                            {
                                                                <td><i class="fa fa-times" style="color: red; font-size: 23px;"></i></td>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <td>0</td>
                                                            <td>0</td>
                                                            <td>0</td>
                                                            <td><i class="fa fa-times" style="color: red; font-size: 23px;"></i></td>
                                                        }
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div> <!-- end .table-responsive-->
                            }
                        </div>
                    </div> <!-- end row -->
                </div>
            }
        </div>
    </div>
</div>
<script type="text/javascript">

    var portfolioDiv = document.getElementById('portfolio');
    var resultsDiv = document.getElementById('results');

    var portfolioBtn = document.getElementById('RenderPortfolio_Btn');
    var resultsBtn = document.getElementById('RenderResults_Btn');

    portfolioBtn.onclick = function () {
        resultsDiv.setAttribute('class', 'hidden');
        portfolioDiv.setAttribute('class', 'visible');
    };

    resultsBtn.onclick = function () {
        portfolioDiv.setAttribute('class', 'hidden');
        resultsDiv.setAttribute('class', 'visible');
    };

</script>
