@model IEnumerable<Cap24Team3.Models.HocPhanDaoTao>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Student_layout.cshtml";
    int STT = 0;
}
<header>
    <div class="container">
        <div class="header-content d-flex flex-wrap align-items-center">
            <div class="logo">
                <a href="@Url.Action("Index","HocPhanDaoTao")" title="" style="font-family: 'GS'; color: #ff3333; font-size: 35px;">
                    E-Profile
                </a>
            </div><!--logo end-->
            @if (Request.IsAuthenticated)
            {
                <div class="social-links ml-auto">
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ActionLink("Chào " + User.Identity.Name + "!", "CapNhatThongTin", "CapNhatThongTin", routeValues: null, htmlAttributes: new { title = "Manage" })
                        <button class="btn btn-danger" style="border-radius: 15px; width: 120px;">
                            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                        </button>

                    }
                </div>
            }
            else
            {
                <div class="social-links ml-auto">
                    <form action="@Url.Action("ExternalLogin","Account")" method="post">
                        <input name="__RequestVerificationToken" type="hidden" value="WFqN51U4-TMM4-vW8wag_5u0vY_spjiEYHZUwS-R4Ir1coATBVwyOv2Z8S-jXAIHzBptQWmTmEk5xCq27C67aewhuaQk7MgWy19PHr9UCCU1">
                        <div>
                            <p>
                                <button type="submit" class="btn btn-danger" style="border-radius: 15px; width: 120px;" id="VanLang" name="provider" value="VanLang" title="Log in using your Văn Lang account">Login</button>
                            </p>
                        </div>
                    </form>
                </div>
            }
            <div class="menu-btn">
                <a href="#">
                    <span class="bar1"></span>
                    <span class="bar2"></span>
                    <span class="bar3"></span>
                </a>
            </div><!--menu-btn end-->
        </div><!--header-content end-->
        <div class="navigation-bar d-flex flex-wrap align-items-center">
            <nav>
                <ul>
                    <li><a href="@Url.Action("Index","HocPhanDaoTao")" title="" style="font-family: 'Dongle3'; font-size: 40px;">Home</a></li>
                    <li>
                        <a href="KHHT.html" title="" style="font-family: 'Dongle3'; font-size: 40px;">Kế hoạch học tập</a>
                    </li>
                    <li>
                        <a href="@Url.Action("XemDiemSV","DiemSinhVien")" title="" style="font-family: 'Dongle3'; font-size: 40px;">Xem điểm</a>
                    </li>
                    <li>
                        <a class="active" href="@Url.Action("Index","HocPhanDaoTao")" title="" style="font-family: 'Dongle3'; font-size: 40px;">Chương trình đào tạo</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Create","ChinhSuaThongTinsv")" title="" style="font-family: 'Dongle3'; font-size: 40px;">Chỉnh sửa thông tin</a>
                    </li>
                    <li>
                        <a href="@Url.Action("DanhSachLop","ChuNhiemLop")" title="" style="font-family: 'Dongle3'; font-size: 40px;">Quản lý lớp</a>
                    </li>
                </ul>
            </nav><!--nav end-->
            <ul class="social-links ml-auto">
                <li><a href="#" title=""><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#" title=""><i class="fab fa-linkedin-in"></i></a></li>
                <li><a href="#" title=""><i class="fab fa-instagram"></i></a></li>
            </ul>
        </div><!--navigation-bar end-->
    </div>
</header><!--header end-->
<section class="pager-section">
    <div class="container">
        <div class="pager-content text-center">
            <h2 style="font-family: 'Montserrat'; font-weight: 600; font-size: 100px; ">Chương trình đào tạo</h2>
            <ul>
                <li><a href="#" title="">Home</a></li>
                <li><span>Chương trình đào tạo</span></li>
            </ul>
        </div><!--pager-content end-->
        <h4 class="page-titlee">E-Profile</h4>
    </div>
</section><!--pager-section end-->
<hr>
<div class="page-content">
    <div class="content">
        <!-- Start Content-->
        <div class="container">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="col-4" style="float: right;">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search...">
                            <div class="input-group-append">
                                <button class="btn btn-secondary" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            @if (TempData["Alert"] != null)
            {
                <div class="alert alert-warning">
                    @Html.Raw(TempData["Alert"].ToString())
                </div>
            }
            else
            {
                foreach (var listHK in ViewData["listHK"] as List<string>)
                {
                    <div class="col-xl-12">
                        <div class="card-box">
                            @if (listHK == "")
                            {
                                <h4 class="header-title mt-0 mb-3" style="font-family: 'Dongle2'; color: black; font-size: 30px;">Tự chọn</h4>
                            }
                            else
                            {
                                <h4 class="header-title mt-0 mb-3" style="font-family: 'Dongle2'; color: black; font-size: 30px;">Học kỳ @listHK</h4>
                            }

                            <div class="table-responsive">
                                <table class="table table-hover mb-0">
                                    <thead>
                                        <tr>
                                            <th>STT</th>
                                            <th>Mã học phần</th>
                                            <th>Tên học phần</th>
                                            <th>Số tín chỉ</th>
                                            <th>BB/TC</th>
                                            <th>Tiên quyết</th>
                                            <th>Học trước</th>
                                            <th>Song hành</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            if (item.HocKy.ToString() == listHK)
                                            {
                                                <tr>
                                                    @if (item.ID_HocPhanTuChon == null)
                                                    {
                                                        STT++;
                                                        <td>@STT</td>
                                                    }
                                                    else
                                                    {
                                                        <td></td>
                                                    }
                                                    <td>@item.MaHocPhan</td>
                                                    <td>@item.TenHocPhan</td>
                                                    <td>@item.SoTinChi</td>
                                                    @if (item.ID_HocPhanTuChon == null)
                                                    {
                                                        <td title="Bắt Buộc">BB</td>
                                                    }
                                                    else
                                                    {
                                                        <td title="Tự Chọn">TC</td>
                                                    }
                                                    <td>
                                                        @foreach (var rangbuoc in ViewData["RangBuocHocPhan"] as List<Cap24Team3.Models.RangBuocHocPhan>)
                                                        {
                                                            if (rangbuoc.LoaiRangBuoc == "Tiên quyết" && rangbuoc.HocPhanDaoTao1.ID == item.ID)
                                                            {
                                                                if (rangbuoc.HocPhanDaoTao.MaHocPhan != null)
                                                                {
                                                                    <p title="@rangbuoc.HocPhanDaoTao.TenHocPhan">
                                                                        @rangbuoc.HocPhanDaoTao.MaHocPhan
                                                                    </p>
                                                                }
                                                                else
                                                                {
                                                                    <p>
                                                                        @rangbuoc.HocPhanDaoTao.TenHocPhan
                                                                    </p>
                                                                }
                                                            }
                                                        }
                                                    </td>
                                                    <td>
                                                        @foreach (var rangbuoc in ViewData["RangBuocHocPhan"] as List<Cap24Team3.Models.RangBuocHocPhan>)
                                                        {
                                                            if (rangbuoc.LoaiRangBuoc == "Học trước" && rangbuoc.HocPhanDaoTao1.ID == item.ID)
                                                            {
                                                                if (rangbuoc.HocPhanDaoTao.MaHocPhan != null)
                                                                {
                                                                    <p title="@rangbuoc.HocPhanDaoTao.TenHocPhan">
                                                                        @rangbuoc.HocPhanDaoTao.MaHocPhan
                                                                    </p>
                                                                }
                                                                else
                                                                {
                                                                    <p>
                                                                        @rangbuoc.HocPhanDaoTao.TenHocPhan
                                                                    </p>
                                                                }
                                                            }
                                                        }
                                                    </td>
                                                    <td>
                                                        @foreach (var rangbuoc in ViewData["RangBuocHocPhan"] as List<Cap24Team3.Models.RangBuocHocPhan>)
                                                        {
                                                            if (rangbuoc.LoaiRangBuoc == "Song hành" && rangbuoc.HocPhanDaoTao1.ID == item.ID)
                                                            {
                                                                if (rangbuoc.HocPhanDaoTao.MaHocPhan != null)
                                                                {
                                                                    <p title="@rangbuoc.HocPhanDaoTao.TenHocPhan">
                                                                        @rangbuoc.HocPhanDaoTao.MaHocPhan
                                                                    </p>
                                                                }
                                                                else
                                                                {
                                                                    <p>
                                                                        @rangbuoc.HocPhanDaoTao.TenHocPhan
                                                                    </p>
                                                                }
                                                            }
                                                        }
                                                    </td>
                                                    @*<td>&emsp;@item.HocKy</td>*@
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div><!-- end col -->
                }

            }
            <hr>
        </div>
    </div> <!-- content -->
</div>

<hr>