@model IEnumerable<Cap24Team3.Models.ThongBao>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Faculty_Layout.cshtml";
}
<style>
    .text {
        display: block; /* or inline-block */
        text-overflow: ellipsis;
        white-space: nowrap;
        word-wrap: break-word;
        overflow: hidden;
        max-height: 4.5em;
        line-height: 1.5em;
    }
</style>
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-sinhviens-center justify-content-between">
            <h4 class="page-title" style="font-family:Roboto">QUẢN LÝ THÔNG BÁO</h4>
            <div class="page-title-right">
                <br />
                <div class="row">
                    <div>
                        <a href="@Url.Action("TaoThongBao", "ThongBao")" class="btn btn-secondary btn-rounded">Tạo mới</a>
                    </div>
                    &ensp;
                    <div>
                        <button type="button" class="btn btn-danger btn-rounded" data-toggle="modal" data-target="#xoaAll">Xóa tất cả thông báo</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover mb-0" id="table">
                        <thead>
                            <tr>
                                <th>Tiêu đề</th>
                                <th>Nội dung</th>
                                <th>Người nhận</th>
                                <th>Ngày gửi</th>
                                <th>Người gửi</th>
                                <th>Trạng thái</th>
                                <th>Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var s in Model)
                            {
                                <tr>
                                    <td>@s.TieuDe</td>
                                    <td>@s.NoiDung</td>
                                    <td>@s.NguoiNhan</td>
                                    <td>@s.Ngay</td>
                                    <td>@s.NguoiGui</td>
                                    @if (s.TrangThai == true)
                                    {
                                        <td style="color: #10c469">
                                            Đã đọc
                                        </td>
                                    }
                                    else
                                    {
                                        <td style="color: #ff5b5b">
                                            Chưa đọc
                                        </td>
                                    }
                                    <td>
                                        <a href="@Url.Action("Delete", "ThongBao" , new {id = s.ID})" style="color: #ff5b5b"><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Xac nhan xoa thong bao-->
<div class="modal fade" id="xoaAll" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="font-family: Roboto; color: black; font-weight: 600;">Xác nhận xóa tất cả thông báo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid text-center">
                    <div class="alert alert-warning div-centerr" align="center">
                        <i class="fa fa-exclamation-triangle"></i> Sau khi xóa sẽ không thể khôi phục lại được.
                    </div>
                    <p align="center" style="color: black">Bạn chắc chắn muốn xóa?</p>
                    <br />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <form action="@Url.Action("DeleteAll", "ThongBao")">
                    <button class="btn btn-danger">Xóa tất cả thông báo</button>
                </form>
            </div>
        </div>
    </div>
</div>