@model IEnumerable<Cap24Team3.Models.SinhVien>
@{
    int STT = 0;
    var listHK = Session["listHK"] as List<string>;
    var diemhp = Session["diemso"] as List<Cap24Team3.Models.DiemHocPhan>;
    var HocPhanDaoTao = Session["HocPhan"] as List<Cap24Team3.Models.HocPhanDaoTao>;

}
<style>
    #profileImage {
        font-family: Arial, Helvetica, sans-serif;
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        background: #ffc107;
        font-size: 3.5rem;
        color: #fff;
        text-align: center;
        line-height: 10rem;
        margin: 2rem 0;
    }

    .div-centerr {
        margin: auto;
        width: 60%;
        padding: 10px;
    }
</style>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive text-nowrap">
                    <table class="table table-striped mb-0 dt-responsive dataTable" id="table">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>MSSV</th>
                                <th>Họ</th>
                                <th>Tên</th>
                                <th>Ngày sinh</th>
                                <th>Giới tính</th>
                                <th>Tình trạng</th>
                                <th>Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var s in Model)
                            {
                                STT++;
                            <tr>
                                <td>@STT</td>
                                <td>@s.MSSV</td>
                                <td>@s.Ho</td>
                                <td>@s.Ten</td>
                                <td>@s.NgaySinh</td>
                                <td>@s.GioiTinh</td>
                                <td>@s.TinhTrang.TenTinhTrang</td>
                                <td>
                                    <a href="@Url.Action("XemChiTiet", new { id = s.ID })">Xem chi tiết</a> |
                                    <a href="@Url.Action("XemDiemSinhVien", new { id = s.ID })">Xem điểm</a> |
                                    <a href="@Url.Action("XemKHHTSinhVien", "DanhSachSinhVien", new { id = s.ID })">KHHT</a>
                                </td>
                            </tr>
                            }

                        </tbody>
                    </table>
                </div> <!-- end .table-responsive-->
            </div> <!-- end card-body -->
        </div> <!-- end card -->
    </div> <!-- end col -->
</div> <!-- end row -->
<div class="modal fade" id="XemChiTiet" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    @{ var sinhvien = Session["sinhvien"] as Cap24Team3.Models.SinhVien; }
    @if (sinhvien != null)
    {
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-1"></div>
                <div class="col-10 text-center">
                    <h4 class="modal-title" style="font-family: Roboto;"> Thông tin sinh viên</h4>
                </div>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="card-body">
                <div class="d-flex flex-column align-items-center text-center">
                    <div id="profileImage"></div>
                    <span id="firstName" hidden>@sinhvien.Ten</span>
                    <div class="mt-3">
                        <h4 style="font-family: 'Montserrat'; color: black; font-weight: 600;">@sinhvien.Ho @sinhvien.Ten</h4>
                    </div>
                </div>
            </div>
            <div class="card-body text-wrap">
                <div class="row">
                    <div class="col-sm-3">
                        <h5 class="mb-0" style="font-family: 'Montserrat'; color: black; font-weight: 600;">Mã số sinh viên:</h5>
                    </div>
                    <div class="col-sm-9 text-secondary" style="font-family: 'Montserrat'; color: black;">
                        @sinhvien.MSSV
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h5 class="mb-0" style="font-family: 'Montserrat'; color: black; font-weight: 600;">Ngày sinh:</h5>
                    </div>
                    <div class="col-sm-9 text-secondary" style="font-family: 'Montserrat'; color: black;">
                        @sinhvien.NgaySinh
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h5 class="mb-0" style="font-family: 'Montserrat'; color: black; font-weight: 600;">Giới tính:</h5>
                    </div>
                    <div class="col-sm-9 text-secondary" style="font-family: 'Montserrat'; color: black;">
                        @sinhvien.GioiTinh
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h5 class="mb-0" style="font-family: 'Montserrat'; color: black; font-weight: 600;">Tình trạng:</h5>
                    </div>
                    <div class="col-sm-9 text-secondary" style="font-family: 'Montserrat'; color: black;">
                        @Session["tinhtrang"]
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h5 class="mb-0" style="font-family: 'Montserrat'; color: black; font-weight: 600;">Email 1:</h5>
                    </div>
                    <div class="col-sm-9 text-secondary" style="font-family: 'Montserrat'; color: black;">
                        @sinhvien.Email_1
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h5 class="mb-0" style="font-family: 'Montserrat'; color: black; font-weight: 600;">Email 2:</h5>
                    </div>
                    <div class="col-sm-9 text-secondary" style="font-family: 'Montserrat'; color: black;">
                        @sinhvien.Email_2
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h5 class="mb-0" style="font-family: 'Montserrat'; color: black; font-weight: 600;">SĐT:</h5>
                    </div>
                    <div class="col-sm-9 text-secondary" style="font-family: 'Montserrat'; color: black;">
                        @sinhvien.DTDD
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h5 class="mb-0" style="font-family: 'Montserrat'; color: black; font-weight: 600;">SĐT Cha:</h5>
                    </div>
                    <div class="col-sm-9 text-secondary" style="font-family: 'Montserrat'; color: black;">
                        @sinhvien.DTCha
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h5 class="mb-0" style="font-family: 'Montserrat'; color: black; font-weight: 600;">SĐT Mẹ:</h5>
                    </div>
                    <div class="col-sm-9 text-secondary" style="font-family: 'Montserrat'; color: black;">
                        @sinhvien.DTMe
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h5 class="mb-0" style="font-family: 'Montserrat'; color: black; font-weight: 600;">Địa chỉ:</h5>
                    </div>
                    <div class="col-sm-9 text-secondary" style="font-family: 'Montserrat'; color: black;">
                        @sinhvien.DiaChi
                    </div>
                </div>
                <hr>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
    }
</div>
<div class="modal fade" id="XemDiemSo" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    @{ var Sinhvien = Session["sinhvien1"] as Cap24Team3.Models.SinhVien; }
    @if (Sinhvien != null)
    {
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button id="RenderPortfolio_Btn" class="btn btn-secondary">Xem theo học kỳ</button>
                &ensp;
                <button id="RenderResults_Btn" class="btn btn-secondary">Xem theo khối kiến thức</button>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- end page title -->
            <div class="visible" id="portfolio">
                @for (int i = 0; i < listHK.Count; i++)
                    {
                <div class="col-xl-12">
                    <div class="card-box">
                        <h4 class="header-title mt-0 mb-3" style="font-family: 'Dongle2'; color: black; font-size: 30px;">Học kỳ @listHK[i]</h4>
                        <div class="table-responsive ">
                            <table class="table table-hover mb-0">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Mã học phần</th>
                                        <th>Tên học phần</th>
                                        <th>Số tín chỉ</th>
                                        <th>Điểm hệ số 10</th>
                                        <th>Điểm hệ số 4</th>
                                        <th>Điểm chữ</th>
                                        <th>Kết quả</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in diemhp)
                                            {
                                                if (item.HocKyKeHoach.ToString() == listHK[i])
                                                {
                                                    STT++;
                                    <tr>
                                        <td>@STT</td>
                                        <td>@item.TenHocPhan</td>
                                        <td>@item.HocPhan</td>
                                        <td>@item.SoTinChi</td>
                                        <td>@item.Diem10</td>
                                        <td>@item.Diem4</td>
                                        <td>@item.DiemChu</td>
                                        @if (item.QuaMon == true)
                                                        {
                                        <td><i class="fa fa-check" style="color: green;"></i></td>
                                                        }
                                                        else
                                                        {
                                        <td><i class="fa fa-times" style="color: red; font-size: 23px;"></i></td>
                                                        }
                                    </tr>
                                                }
                                            }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div><!-- end col -->
                    }
            </div>
            <div id="results" class="hidden">
                @foreach (var hk in listHK)
                    {
                <div class="col-xl-12">
                    <div class="card-box">
                        @if (hk == "")
                                {
                        <h4 class="header-title mt-0 mb-3" style="font-family: 'Dongle2'; color: black; font-size: 30px;">Tự chọn</h4>
                                }
                                else
                                {
                        <h4 class="header-title mt-0 mb-3" style="font-family: 'Dongle2'; color: black; font-size: 30px;">Học kỳ @hk</h4>
                                }
                        <div class="table-responsive">
                            <table class="table table-hover mb-0">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Mã học phần</th>
                                        <th>Tên học phần</th>
                                        <th>Số tín chỉ</th>
                                        <th>Điểm 10/10</th>
                                        <th>Điểm 4/10</th>
                                        <th>Điểm Chữ</th>
                                        <th>Kết quả</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in HocPhanDaoTao)
                                            {
                                                if (item.HocKy.ToString() == hk)
                                                {
                                    <tr>
                                        @if (item.ID_HocPhanTuChon == null)
                                                        {
                                                            STT++;
                                        <td>@STT</td>
                                                        }
                                                        else
                                                        {
                                        <td></td>
                                                        }
                                        <td>@item.MaHocPhan</td>
                                        <td>@item.TenHocPhan</td>
                                        <td>@item.SoTinChi</td>
                                        @foreach (var diem in diemhp)
                                                        {
                                                            if (diem.HocPhan == item.MaHocPhan)
                                                            {
                                        <td>@diem.Diem10</td>
                                        <td>@diem.Diem4</td>
                                        <td>@diem.DiemChu</td>
                                                                if (diem.QuaMon == true)
                                                                {
                                        <td>Đạt</td>
                                                                }
                                                                else
                                                                {
                                        <td>Rớt</td>
                                                                }
                                                            }
                                                        }
                                    </tr>
                                                }
                                            }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div><!-- end col -->
                    }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
            <style type="text/css">
                .hidden {
                    display: none;
                }

                .visible {
                    display: block;
                }
            </style>
            <script type="text/javascript">

                var portfolioDiv = document.getElementById('portfolio');
                var resultsDiv = document.getElementById('results');

                var portfolioBtn = document.getElementById('RenderPortfolio_Btn');
                var resultsBtn = document.getElementById('RenderResults_Btn');

                portfolioBtn.onclick = function () {
                    resultsDiv.setAttribute('class', 'hidden');
                    portfolioDiv.setAttribute('class', 'visible');
                };

                resultsBtn.onclick = function () {
                    portfolioDiv.setAttribute('class', 'hidden');
                    resultsDiv.setAttribute('class', 'visible');
                };

            </script>
        </div>
    </div>
    }
</div>
<script>
    $('#exampleModal').on('show.bs.modal', event => {
        var button = $(event.relatedTarget);
        var modal = $(this);

    });
</script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
@if (Session["sinhvien"] != null)
{
<script>
    $(document).ready(function () {
        $('#XemChiTiet').modal('show');
    });
</script>
    Session["sinhvien"] = null;
}
@if (Session["sinhvien1"] != null)
{
<script>
    $(document).ready(function () {
        $('#XemDiemSo').modal('show');
    });
</script>
    Session["sinhvien1"] = null;
}
<script>
    $('th').click(function () {
        var table = $(this).parents('table').eq(0)
        var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()))
        this.asc = !this.asc
        if (!this.asc) { rows = rows.reverse() }
        for (var i = 0; i < rows.length; i++) { table.append(rows[i]) }
    })
    function comparer(index) {
        return function (a, b) {
            var valA = getCellValue(a, index), valB = getCellValue(b, index)
            return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.toString().localeCompare(valB)
        }
    }
    function getCellValue(row, index) { return $(row).children('td').eq(index).text() }
</script>
<script>
    $(document).ready(function () {
        var firstName = $('#firstName').text();
        var lastName = $('#lastName').text();
        var intials = $('#firstName').text().charAt(0) + $('#lastName').text().charAt(0);
        var profileImage = $('#profileImage').text(intials);
    });
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>