@model IEnumerable<Cap24Team3.Models.KhoaDaoTao>

@{
    ViewBag.Title = "KhoaSinhVien";
    Layout = "~/Views/Shared/Faculty_Layout.cshtml";
}
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="page-title" style="font-family:Roboto">DANH SÁCH SINH VIÊN</h4>
            <div class="page-title-right">
                <form>
                    <input type="text" class="btn btn-primary btn-rounded" placeholder="Tìm kiếm..." name="texttimkiem" style="background-color:white; color: black" />
                    <button type="submit" class="btn btn-secondary btn-rounded" formaction="@Url.Action("TimKiemSinhVien")"><i class="fas fa-search"></i>Tìm kiếm</button>
                    <input type="file" id="file" style="display:none;" />
                    <button type="button" class="btn btn-secondary btn-rounded" data-toggle="modal" data-target="#exampleModal">
                        <i class="mdi mdi-microsoft-excel"></i> Import
                    </button>
                    <button type="submit" formaction="@Url.Action("XuatDSSV")" value="" class="btn btn-secondary btn-rounded"><i class="mdi mdi-microsoft-excel"></i> Export</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- end page title -->
<div class="row">
    <div class="col-xl-6">
        <div class="card-box taskboard-box">
            <ul class="sortable-list list-unstyled taskList" id="upcoming">
                @foreach (var item in Model)
                {
                    <li>
                        <div class="kanban-box">
                            <div class="kanban-detail">
                                <form>
                                    <a value="@item.Khoa" type="button" class="badge badge-danger float-right" href="@Url.Action("XacNhanXoaKhoa", new { id = item.ID })" style="color: white;"><i class="fas fa-times"></i></a>
                                    <h4 class="mt-0" style="font-family: Roboto;"><a href="@Url.Action("NganhSinhVien", new { id = item.ID })" class="text-dark">Danh sách sinh viên Khóa @item.Khoa</a></h4>
                                </form>
                            </div>
                        </div>
                    </li>
                }
            </ul>
            <!-- Modal -->
            <div class="modal fade" id="ModelXoaKhoaSV" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" style="font-family: Roboto;">Xóa danh sách sinh viên</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="container-fluid text-center">
                                Xác nhận xóa Danh sách sinh viên
                            </div>
                            <div for="recipient-name" class="col-form-label">Nhập "Danh sách sinh viên Khóa @Session["KhoaSV"]" để xác nhận xóa:</div>
                            <input type="text" class="form-control" id="text" onchange="GetText(this.value)" value="" placeholder="Danh sách sinh viên Khóa @Session["KhoaSV"]">
                            <input id="textXacNhan" value="Danh sách sinh viên Khóa @Session["KhoaSV"]" hidden />
                        </div>
                        <div class="modal-footer">
                            <form method="post">
                                <input type="number" name="IDKhoa" value="@Session["KhoaSV"]" hidden />
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                <button type="submit" formaction="@Url.Action("XoaKhoaSV", new { IDKhoa = Session["KhoaSV"]})" id="XacNhanBtn" class="btn btn-primary" disabled>Xóa</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                <div class="modal-dialog modal-xl" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel" style="font-family: Roboto;">Thêm mới danh sách sinh viên</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            @using (Html.BeginForm("UpdateSinhVien", "DanhSachSinhVien", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                <div class="file-upload-wrapper">
                                    <div class="file-upload-wrapper">
                                        <input type="file" value="@TempData["file"]" id="file_excel" name="UploadedFile" class="dropify" required accept=".xls,.xlsx" onclick="Clearform()" />
                                    </div>
                                    <div id="excel_data" class="table-responsive"></div>
                                </div>
                                <div class="modal-footer">
                                    <input type="button" class="btn btn-secondary" data-dismiss="modal" value="Đóng" />
                                    <input type="submit" class="btn btn-primary" value="Tải lên" formmethod="post" formaction="@Url.Action("XemTruocThongKe", "DanhSachSinhVien", new { enctype = "multipart/form-data" })" />
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="ModelCheckFile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                <div class="modal-dialog modal-xl" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel" style="font-family: Roboto;">Thêm mới danh sách sinh viên</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div>
                                @Html.Raw(Session["ThongBao"])
                            </div>
                            <div class="modal-footer">
                                <form action="@Url.Action("UpdateSinhVien")" method="post">
                                    <input type="button" class="btn btn-secondary" data-dismiss="modal" value="Đóng" />
                                    <input type="submit" class="btn btn-primary" value="Tải lên" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end col -->
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

@if (Session["ThongBao"] != null)
{
    <script>
        $(document).ready(function () {
            $('#ModelCheckFile').modal('show');
        });
    </script>
}
@if (TempData["Alert"] != null)
{
<script>
    $(document).ready(function () {
        $('#ModelCheckFile').modal('hide');
    });
</script>
}
@if (Session["KhoaSV"] != null)
{
    <script>
        $(document).ready(function () {
            $('#ModelXoaKhoaSV').modal('show');
        });
    </script>
    Session["KhoaSV"] = null;
}
<script>
    $('#ModelCheckFile').on('show.bs.modal', event => {
        var button = $(event.relatedTarget);
        var modal = $(this);
    });
</script>
<script>
    function GetText(val) {
        var text = document.getElementById("textXacNhan").value;
        if (val != text) {
            document.getElementById("XacNhanBtn").disabled = true;
        } else {
            document.getElementById("XacNhanBtn").disabled = false;
        }
    }
</script>
<script>
    function sortTable() {
        var tables, sort, i, x, y, tableSort;
        tables = document.getElementById("SortmyTable");
        sort = true;
        while (sort) {
            sort = false;
            tblrow = tables.rows;
            for (i = 1; i < (tblrow.length - 1); i++) {
                tableSort = false;
                x = tblrow[i].getElementsByTagName("td")[n];
                y = tblrow[i + 1].getElementsByTagName("td")[n];
                if (x.innerHTML.toUpperCase() > y.innerHTML.toUpperCase()) {
                    tableSort = true;
                    break;
                }
            }
            if (tableSort) {
                tblrow[i].parentNode.insertBefore(tblrow[i + 1], tblrow[i]);
                sort = true;
            }
        }
    }
</script>