@model IEnumerable<Cap24Team3.Models.SinhVien>

@{
    ViewBag.Title = "ListSinhVien";
    Layout = "~/Views/Shared/Faculty_Layout.cshtml";
    int STT = 0;
}
<link href="@Url.Content("~/Faculty_assets/css/main.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Faculty_assets/css/search.css")" rel="stylesheet" type="text/css" />
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-sinhviens-center justify-content-between">
            <h4 class="page-title" style="font-family:Roboto">TÌM KIẾM SINH VIÊN</h4>
            <div class="page-title-right">
                <form>
                    <br />
                    <input type="text" class="btn btn-primary btn-rounded" value="@ViewBag.Keyword" name="texttimkiem" style="background-color:white; color: black" />
                    <button type="submit" class="btn btn-secondary btn-rounded" formaction="@Url.Action("TimKiemSinhVien")"><i class="fas fa-search"></i>Tìm kiếm</button>
                </form>
            </div>
        </div>
    </div>
</div>
@Html.Partial("DSSV")