@model IEnumerable<Cap24Team3.Models.AspNetRole>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Faculty_Layout.cshtml";
}

<h2>Quản lý danh sách BCN Khoa</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>

                <!-- @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |-->
                <a href="@Url.Action("Create","AspNetUserRoleFacultys", new { RoleId = item.Id })">Thêm User</a>
            </td>
        </tr>
        foreach (var user in item.AspNetUsers)
        {  
            <tr>
                <td></td>
                <td>
                    @user.UserName
                </td>
                <td>
                    <a href="@Url.Action("Delete", "AspNetUserRoleFacultys", new { RoleId = item.Id, UserId = user.Id })">Xóa </a>
                </td>
            </tr>
        }
    }

</table>
